<div class="selectorMensualidades">
  <div class="containerInfo" *ngFor="let info of unidad">
    <mat-card >
      <h2>Registrar Mensualidades</h2>
      <h3>Historico Pagos {{info.unidad}}</h3>

      <div class="cardsBalance">
        <div class="card">
          <div>
            <div class="cardName">Valor Mensualidad</div>
            <div class="numbers">${{cuotaUnidad}}</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Areas Comunales</div>
            <div class="numbers">${{sumaValorReservas}}</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Deuda Total</div>
            <div class="numbers">${{cuotaUnidad + sumaValorReservas}}</div>
          </div>
        </div>
      </div>
      <br>
      <div>
        <button class="btn btn-primary mb-2" (click)="onGoCreate()">Crear Pago</button>
      </div>
      <br>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [dataSource]="ingresoUnidades" [allowSorting]="true" [allowPaging]="true" gridLines="Both"
                  [pageSettings]="pageSettings" [toolbar]="toolbarOptions" (commandClick)="commandClick($event)"
                  (toolbarClick)="toolbarClick($event)" [allowExcelExport]="true" (excelExportComplete)="excelExportComplete()"
                  [allowPdfExport]="true" (pdfExportComplete)="pdfExportComplete()" (created)='created()'>
          <e-columns>
            <e-column field='fechaReciboPago' headerText='Fecha de Pago' width=160> </e-column>
            <e-column field='numeroReciboPago' headerText='Número Recibo de Pago' width=190> </e-column>
            <e-column field='tipoCuenta' headerText='Tipo de Cuenta' width=140> </e-column>
            <e-column field='tiposPago' headerText='Tipo de Pago' width=140> </e-column>
            <e-column field='cuotaUnidad' headerText='Cuota Unidad' width=140 format="C2"> </e-column>
            <e-column field='sumaValorReservas' headerText='Valor de Reservas' width=140 format="C2"> </e-column>
            <e-column field='valorDescuento' headerText='Descuento' width=140 format="C2"> </e-column>
            <e-column field='valorTotal' headerText='Valor Total' width=140 format="C2"> </e-column>
            <e-column field='valorPago' headerText='Valor Cancelado' width=140 format="C2"> </e-column>
            <e-column field='saldo' headerText='Saldo' width=140 format="C2"> </e-column>
            <e-column headerText='Opciones' width=110 [commands]='commands'></e-column>
          </e-columns>
        </ejs-grid>`
      </div>

      <div>
        <button class="btn btn-primary mb-2" (click)="onBacktoList()">Volver</button>
      </div>

    </mat-card>
  </div>

</div>
