<div class="selectorMensualidades">
  <div class="containerInfo">
    <mat-card>
      <h2>Registrar Mensualidades</h2>
      <h3>Datos Pagos Unidades</h3>

      <div class="cardsBalance">
        <div class="card">
          <div>
            <div class="cardName">Valor Cuota</div>
            <div class="numbers">$600.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Areas Comunales</div>
            <div class="numbers">$1500.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Deudas Totales</div>
            <div class="numbers">$900.00</div>
          </div>
        </div>
      </div>

    </mat-card>
  </div>

</div>
