<div class="anuncioGeneral">
  <div class="containerGeneral">
    <mat-card>
      <div class="botonAtras">
        <a [routerLink]="['/admin/comunicacion/nuevo']" [routerLinkActive]="['active']" class="btn"> NUEVO </a>
      </div>
    </mat-card>
  </div>

  <div class="containerMensajes">
    <mat-card>
      <mat-card-title>Bienvenidos a Condominios EPN</mat-card-title>
      <mat-card-subtitle>Escrito por: Alex Carrera</mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate, 
          congue semper sollicitudin eleifend venenatis ut hendrerit fames vivamus, 
          ullamcorper sagittis at dictum pellentesque quis feugiat. 
          odales habitasse fames orci mauris interdum mollis cras, 
          montes dis neque ornare magnis feugiat, curae cubilia cum pharetra pellentesque nisl. 
          Elementum nisl vel aptent lacus varius lectus enenatis taciti duis, 
          quis rhoncus orci penatibus tempus sociosqu porta magna, 
          arcu lacinia curae erat a facilisi laoreet etiam. Sociis per lectus posuere potenti dictumst quam, 
          maecenas eget obortis ociosqu auctor fusce viverra, tortor tincidunt in curae arcu.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Eliminar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Bienvenidos a Condominios EPN</mat-card-title>
      <mat-card-subtitle>Escrito por: Alex Carrera</mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate, 
          congue semper sollicitudin eleifend venenatis ut hendrerit fames vivamus, 
          ullamcorper sagittis at dictum pellentesque quis feugiat. 
          odales habitasse fames orci mauris interdum mollis cras, 
          montes dis neque ornare magnis feugiat, curae cubilia cum pharetra pellentesque nisl. 
          Elementum nisl vel aptent lacus varius lectus enenatis taciti duis, 
          quis rhoncus orci penatibus tempus sociosqu porta magna, 
          arcu lacinia curae erat a facilisi laoreet etiam. Sociis per lectus posuere potenti dictumst quam, 
          maecenas eget obortis ociosqu auctor fusce viverra, tortor tincidunt in curae arcu.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Eliminar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Bienvenidos a Condominios EPN</mat-card-title>
      <mat-card-subtitle>Escrito por: Alex Carrera</mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate, 
          congue semper sollicitudin eleifend venenatis ut hendrerit fames vivamus, 
          ullamcorper sagittis at dictum pellentesque quis feugiat. 
          odales habitasse fames orci mauris interdum mollis cras, 
          montes dis neque ornare magnis feugiat, curae cubilia cum pharetra pellentesque nisl. 
          Elementum nisl vel aptent lacus varius lectus enenatis taciti duis, 
          quis rhoncus orci penatibus tempus sociosqu porta magna, 
          arcu lacinia curae erat a facilisi laoreet etiam. Sociis per lectus posuere potenti dictumst quam, 
          maecenas eget obortis ociosqu auctor fusce viverra, tortor tincidunt in curae arcu.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Eliminar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Bienvenidos a Condominios EPN</mat-card-title>
      <mat-card-subtitle>Escrito por: Alex Carrera</mat-card-subtitle>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate, 
          congue semper sollicitudin eleifend venenatis ut hendrerit fames vivamus, 
          ullamcorper sagittis at dictum pellentesque quis feugiat. 
          odales habitasse fames orci mauris interdum mollis cras, 
          montes dis neque ornare magnis feugiat, curae cubilia cum pharetra pellentesque nisl. 
          Elementum nisl vel aptent lacus varius lectus enenatis taciti duis, 
          quis rhoncus orci penatibus tempus sociosqu porta magna, 
          arcu lacinia curae erat a facilisi laoreet etiam. Sociis per lectus posuere potenti dictumst quam, 
          maecenas eget obortis ociosqu auctor fusce viverra, tortor tincidunt in curae arcu.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Eliminar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
