<div class="selectorCrearPagoMensualidad">
  <div class="containerInfo">
    <mat-card>
      <h2>Registrar Mensualidades</h2>
      <h3>Ingreso de Datos Pagos Unidades
        <div *ngIf="loading" class="spinner-border float-right" role="status">
          <span class="sr-only">Procesando...</span>
        </div>
      </h3>

      <form [formGroup]='pagoMensualidadForm' (ngSubmit)="onCreatePagoMensualidad()">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label>Seleccione la Unidad</label>
              <select class="form-control" formControlName="idUnidad" (ngModelChange)="onUnitChanged($event)"
                [ngClass]="{ 'is-invalid': !pagoMensualidadForm.controls['idUnidad'].valid  && pagoMensualidadForm.controls['idUnidad'].touched }">
                <option *ngFor="let unidad of unidades" [ngValue]="unidad.idUnidad" selected>{{unidad.unidad}}
                </option>
              </select>
              <div
                *ngIf=" pagoMensualidadForm.controls['idUnidad'].touched  && !pagoMensualidadForm.controls['idUnidad'].valid"
                class="invalid-feedback">
                Campo requerido
              </div>
            </div>
            <div class="col">
              <label>Número de Recibo: </label>
              <input type="text" class="form-control" formControlName="numeroReciboPago"
                [ngClass]="{ 'is-invalid': !pagoMensualidadForm.controls['numeroReciboPago'].valid  && pagoMensualidadForm.controls['numeroReciboPago'].touched }">
              <div *ngIf="form['numeroReciboPago'].errors" class="invalid-feedback">
                <div *ngIf="form['numeroReciboPago'].errors['pattern']">
                  La longitud del número no es válida
                </div>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]='datosUnidadForm'>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Nombre Residente: </label>
                <input type="text" class="form-control" formControlName="nombreResidente" [readonly]="true">
              </div>
              <div class="col">
                <label>Apellido Residente: </label>
                <input type="text" class="form-control" formControlName="apellidoResidente" [readonly]="true">
              </div>
              <div class="col">
                <label>Cuota Unidad: </label>
                <input type="text" class="form-control" formControlName="cuotaUnidad" [readonly]="true">
              </div>
              <div class="col">
                <label>Valor Reservas: </label>
                <input type="text" class="form-control" formControlName="sumaValorReservas" [readonly]="true">
              </div>
            </div>
          </div>
          <input type="hidden" class="form-control" formControlName="unidad" [readonly]="true">
        </form>

        <div class="row">
          <div class="col">
            <form [formGroup]='pagoMensualidadForm'>
              <div class="form-group">
                <label>Seleccione el nombre de la Cuenta</label>
                <select class="form-control" formControlName="idCuenta" (ngModelChange)="onCuentaPagoChanged($event)"
                  [ngClass]="{ 'is-invalid': !pagoMensualidadForm.controls['idCuenta'].valid  && pagoMensualidadForm.controls['idCuenta'].touched }">
                  <option *ngFor="let cuentaPago of cuentasPago" [ngValue]="cuentaPago.idCuenta" selected>
                    {{cuentaPago.nombreCuenta}}
                  </option>
                </select>
                <div
                  *ngIf=" pagoMensualidadForm.controls['idCuenta'].touched  && !pagoMensualidadForm.controls['idCuenta'].valid"
                  class="invalid-feedback">
                  Campo requerido
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <form [formGroup]='cuentasPagoForm'>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label>Tipo de Cuenta: </label>
                    <input type="text" class="form-control" formControlName="tipoCuenta" [readonly]="true">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <form [formGroup]='pagoMensualidadForm'>
              <div class="form-group">
                <label>Seleccione el tipo de Pago</label>
                <select class="form-control" formControlName="idTiposPago" (ngModelChange)="onTipoPagoChanged($event)"
                  [ngClass]="{ 'is-invalid': !pagoMensualidadForm.controls['idTiposPago'].valid  && pagoMensualidadForm.controls['idTiposPago'].touched }">
                  <option *ngFor="let tipoPago of tiposPago" [ngValue]="tipoPago.idTipoPago" selected>
                    {{tipoPago.tiposPago}}
                  </option>
                </select>
                <div
                  *ngIf=" pagoMensualidadForm.controls['idTiposPago'].touched  && !pagoMensualidadForm.controls['idTiposPago'].valid"
                  class="invalid-feedback">
                  Campo requerido
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <form [formGroup]='tiposPagoForm'>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label>Detalle Tipo Pago: </label>
                    <input type="text" class="form-control" formControlName="detalleTiposPago" [readonly]="true">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <form [formGroup]='pagoMensualidadForm'>
              <div class="form-group">
                <label>Seleccione el Descuento</label>
                <select class="form-control" formControlName="idDescuento" (ngModelChange)="onDescuentoChanged($event)"
                  [ngClass]="{ 'is-invalid': !pagoMensualidadForm.controls['idDescuento'].valid  && pagoMensualidadForm.controls['idDescuento'].touched }">
                  <option *ngFor="let descuento of descuentos" [ngValue]="descuento.idDescuento" selected>
                    {{descuento.nombreDescuento}}
                  </option>
                </select>
                <div
                  *ngIf=" pagoMensualidadForm.controls['idDescuento'].touched  && !pagoMensualidadForm.controls['idDescuento'].valid"
                  class="invalid-feedback">
                  Campo requerido
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <form [formGroup]='descuentosForm'>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label>Valor de Descuento: </label>
                    <input type="number" class="form-control" formControlName="valorDescuento" [readonly]="true">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <form [formGroup]='sumaTotalForm'>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label>Valor Total: </label>
                    <input type="number" class="form-control" formControlName="sumaTotal" [readonly]="true">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <form [formGroup]='pagoMensualidadForm'>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label>Valor Pago </label>
                    <input type="number" class="form-control" formControlName="valorPago">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <form [formGroup]='pagoMensualidadForm'>
              <div class="form-group">
                <label>Concepto de Pago: </label>
                <textarea type="text" class="form-control" formControlName="observacionesMensualidadPago">
                </textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="centrarBotones">
          <button type="submit" class="btn btn-success mr-2" [disabled]="pagoMensualidadForm.invalid">Registrar
            Mensualidad</button>
          <button type="button" class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
        </div>
      </form>


    </mat-card>
  </div>

</div>
