<div class="inicio">
  <app-topbar></app-topbar>

  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers"> 1,504</div>
        <div class="cardName">Vistas Diarias</div>
      </div>
      <div class="iconBx">
        <mat-icon>visibility</mat-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"> 284</div>
        <div class="cardName">Comments</div>
      </div>
      <div class="iconBx">
        <mat-icon> comment</mat-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"> 80</div>
        <div class="cardName">Sales</div>
      </div>
      <div class="iconBx">
        <mat-icon>add_shopping_cart</mat-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="numbers"> $7,504</div>
        <div class="cardName">Earning</div>
      </div>
      <div class="iconBx">
        <mat-icon> money</mat-icon>
      </div>
    </div>
  </div>
</div>
