<div class="ajustes">
  <app-topbarUser></app-topbarUser>
    <div class="headerAjustesUsuario">
      <div class="containerInfo">
        <mat-card>
          <h2>Cuenta</h2>
          <h3> Información del usuario</h3>
          <div class="card" *ngFor="let admin of administrador">
            <div><b>Nombre: </b>{{admin.name}}</div>
            <div><b>Apellido: </b>{{admin.last_name}}</div>
            <div><b>Email: </b>{{admin.email}}</div>
            <div><b>Celular: </b>{{admin.phone}}</div>
            <div><b>Dirección: </b>{{admin.address}}</div>
          </div>
          <div>
            <button class="btn btn-primary mt-2" (click)="onEdit()">Editar</button>
          </div>
        </mat-card>
      </div>
  </div>
</div>
