<footer id="footer">
    <ul id="lista1">
        <li>
            <a href="https://www.epn.edu.ec/"><img class="poli"
                    src="../../../../../assets/EPN_log.png">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
            <a href="https://twitter.com/EPNEcuador"><img class="tw"
                    src="../../../../../assets/tw.png">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/EPNEcuador"><img class="yt"
                    src="../../../../../assets/yt.png">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
            <a href="https://www.facebook.com/EPNQuito?_rdc=2&_rdr"><img class="fb"
                    src="../../../../../assets/fb.png">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
            <a href="https://polhibou.epn.edu.ec/"><img class="buho" src="../../../../../assets/buhoMontado.png"></a>
        </li>
    </ul>

    <p>
      © 2022 ESCUELA POLITÉCNICA NACIONAL
    </p>


</footer>
