<div class="ajustesUsuariosEdit">
  <div class="containerInfo">
    <mat-card>
      <h2>usuarios</h2>
      <h3>Editar informacion del usuario
        <div *ngIf="loading" class="spinner-border float-right" role="status">
          <span class="sr-only">Procesando...</span>
        </div>
      </h3>
      <form [formGroup]='editUsuarioForm' (ngSubmit)="onEditUser()">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" formControlName="name"
            [ngClass]="{ 'is-invalid': !editUsuarioForm.controls['name'].valid  && editUsuarioForm.controls['name'].touched }">
          <div *ngIf=" editUsuarioForm.controls['name'].touched  && !editUsuarioForm.controls['name'].valid"
            class="invalid-feedback">
            Campo requerido
          </div>
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" formControlName="last_name"
            [ngClass]="{ 'is-invalid': !editUsuarioForm.controls['last_name'].valid  && editUsuarioForm.controls['last_name'].touched }">
          <div *ngIf=" editUsuarioForm.controls['last_name'].touched  && !editUsuarioForm.controls['last_name'].valid"
            class="invalid-feedback">
            Campo requerido
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input [readonly]="true" type="email" class="form-control" formControlName="email"
            [ngClass]="{ 'is-invalid': !editUsuarioForm.controls['email'].valid && editUsuarioForm.controls['email'].touched}">
          <div *ngIf="form['email'].errors" class="invalid-feedback">
            <div *ngIf="form['email'].errors['required']">
              Campo requerido
            </div>
            <div *ngIf="form['email'].errors['pattern']">
              Por favor ingrese un email válido
            </div>
          </div>
        </div>
        <!--<div class="form-group">
                  <label>Contraseña</label>
                  <div class="input-group">
                      <input type="password" [type]="hide ? 'password' : 'text'" name="password" class="form-control"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': form['password'].errors && form['password'].touched }" />
                      <span class="input-group-text">
                        <mat-icon class="placeholder" (click)="showPassword()">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                      </span>
                      <div *ngIf="form['password'].errors" class="invalid-feedback">
                        <div *ngIf="form['password'].errors['required']">
                          Campo requerido
                        </div>
                        <div *ngIf="form['password'].errors['minlength']">
                          La contraseña no puede tener menos de 6 caracteres
                        </div>
                        <div *ngIf="form['password'].errors['maxlength']">
                          La contraseña no puede exceder de los 15 caracteres
                        </div>
                      </div>
                    </div>
              </div>-->
        <div class="form-group">
          <label>Teléfono</label>
          <input type="text" class="form-control" formControlName="phone"
            [ngClass]="{ 'is-invalid': !editUsuarioForm.controls['phone'].valid  && editUsuarioForm.controls['phone'].touched }">
          <div *ngIf="form['phone'].errors" class="invalid-feedback">
            <div *ngIf="form['phone'].errors['pattern']">
              El campo solo debe contener números!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Direccion</label>
          <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mr-2" [disabled]="editUsuarioForm.invalid">Modificar</button>
          <button class="btn btn-success" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>