<div class="ajustesAdmin">
  <div class="containerInfo">
    <mat-card *ngFor= "let admin of admins">
      <h2>Datos del administrador</h2>
      <h3><strong>Titular de la información</strong></h3>
      <div class="card">
        <div><b>Nombre: </b>{{admin.name}} {{admin.last_name}}</div>
        <div><b>Direccion: </b>{{admin.address}}</div>
        <div><b>Email: </b>{{admin.email}}</div>
        <div><b>Celular: </b>{{admin.phone}}</div>
      </div>
      <div class="notes">
        La persona titular de la información, {{admin.name}} {{admin.last_name}}, es considerada el
        propietario de los datos alojados en el sistema y aquellos que se generan dentro
        del mismo fruto de la operación diaria, siendo su responsabilidad el cumplimiento
        de cualquier tipo de acuerdo de confidencialidad para con sus clientes o miembros
        de su comunidad.
      </div>
      <div>
        <button class="btn btn-info mt-2" (click)="onEdit()">Editar</button>
      </div>
    </mat-card>
  </div>
</div>