<div class="ajustesAdmin">
  <div class="containerInfo">
    <mat-card>
      <h2>Cuenta</h2>
      <h3>Datos del administrador</h3>
      <div class="card" *ngFor="let admin of administrador">
        <div><b>Nombre: </b>{{admin.name}}</div>
        <div><b>Apellido: </b>{{admin.last_name}}</div>
        <div><b>Email: </b>{{admin.email}}</div>
        <div><b>Celular: </b>{{admin.phone}}</div>
        <div><b>Dirección: </b>{{admin.address}}</div>
      </div>
      <div class="notes " *ngFor="let admin of administrador">
        La persona titular de la información, {{admin.name}} {{admin.last_name}}, es considerada el propietario de los
        datos alojados en el sistema y aquellos que se generan dentro del mismo fruto de la operación diaria, siendo su
        responsabilidad el cumplimiento
        de cualquier tipo de acuerdo de confidencialidad para con sus clientes o miembros de su comunidad.
      </div>
      <div>
        <button class="btn btn-primary mt-2" (click)="onEdit() ">Editar</button>
      </div>
    </mat-card>
  </div>
</div>
