<div class="ajustesAdmin">
  <div class="containerInfo">
    <mat-card>
      <h2>Propiedad de la Organización</h2>
      <h3><strong>Titular de la información</strong></h3>
      <div class="card">
        <div><b>Nombre:</b></div>
        <div><b>Telefono:</b></div>
        <div><b>Email:</b></div>
        <div><b>Celular:</b></div>
      </div>
      <div class="notes">
        La persona titular de la información, alex.carrera@epn.edu.ec, es considerada el
        propietario de los datos alojados en el sistema y aquellos que se generan dentro
        del mismo fruto de la operación diaria, siendo su responsabilidad el cumplimiento
        de cualquier tipo de acuerdo de confidencialidad para con sus clientes o miembros
        de su comunidad.
      </div>
    </mat-card>
  </div>
  <div class="cuentaInfo">
    <mat-card>
      <h2>Nombre de la cuenta</h2>
      <h3><strong>Nombre de la cuenta</strong></h3>
      <h4>Este es el nombre que se muestra a los usuarios al iniciar sesión,
        así como el encabezado de los correos electronicos
      </h4>
      <form (ngSubmit)="onSave()" [formGroup]="adminNombreCuenta">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="" formControlName="nombreCuenta">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>