<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><mat-icon>donut_small</mat-icon></span>
                <span class="title">Alex Carrera</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/user/home']" [routerLinkActive]="['active']">
                <span class="icon"><mat-icon>home</mat-icon></span>
                <span class="title">Inicio</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/user/comunicacion']" [routerLinkActive]="['active']">
                <span class="icon"><mat-icon> chat</mat-icon></span>
                <span class="title">Comunicación</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/user/areasComunes']" [routerLinkActive]="['active']">
                <span class="icon"><mat-icon>folder</mat-icon></span>
                <span class="title">Areas Comunes</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/user/finanzas']" [routerLinkActive]="['active']">
                <span class="icon"><mat-icon> attach_money</mat-icon></span>
                <span class="title">Finanzas</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/user/ajustes']" [routerLinkActive]="['active']">
                <span class="icon">	<mat-icon>settings</mat-icon></span>
                <span class="title">Ajustes</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/home']" [routerLinkActive]="['active']">
                <span class="icon">	<mat-icon>exit_to_app</mat-icon></span>
                <span class="title">Salir</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><mat-icon>donut_small</mat-icon></span>
                <span class="title">CondominioEPN</span>
            </a>
        </li>
    </ul>
</div>