<div class="ajustesUsuarios">
  <div class="containerInfo">
    <mat-card>
      <h2>Usuarios</h2>
      <h3>Lista de Usuarios</h3>
      <div>
        <button class="btn btn-primary mb-2" (click)="onGoCreate()">Crear Nuevo</button>
      </div>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [dataSource]="usuarios" [allowSorting]="true" [allowPaging]="true" gridLines="Both"
          [pageSettings]="pageSettings" (commandClick)="commandClick($event)" [toolbar]="toolbarOptions"
          (toolbarClick)="toolbarClick($event)" [allowExcelExport]="true" (excelExportComplete)="excelExportComplete()"
          [allowPdfExport]="true" (pdfExportComplete)="pdfExportComplete()" (created)='created()'>
          <e-columns>
            <e-column field='name' headerText='Nombre' width=110> </e-column>
            <e-column field='last_name' headerText='Apellido' width=110> </e-column>
            <e-column field='email' headerText='Email' width=200> </e-column>
            <e-column field='phone' headerText='Teléfono' width=120> </e-column>
            <e-column field='address' headerText='Direccion' width=200> </e-column>
            <e-column headerText='Opciones' width=110 [commands]='commands'></e-column>
          </e-columns>
        </ejs-grid>`
      </div>
    </mat-card>
  </div>
</div>