.ajustesUsuarios {
    position: absolute;
    width: calc(100% - 231px);
    left: 231px;
    top: 150px;
    min-height: 82vh;
}

.containerInfo mat-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 99%;
    left: 9px;
    top: 15px;
    border-radius: 20px;
    padding-bottom: 25px;
}

.containerInfo mat-card h2 {
    background-color: #2ba846;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}