<div class="ajustesUsuarios">
  <div class="containerInfo">
    <mat-card>
      <h2>Usuarios</h2>
      <h3>Datos de los Usuarios</h3>
      <div>
        <button class="btn btn-primary mb-2" (click)="onGoCreate()">Crear Nuevo</button>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of usuarios">
        <tr>
          <td>{{user.nombre}}</td>
          <td>{{user.apellido}}</td>
          <td>{{user.email}}</td>
          <td>{{user.telefono}}</td>
          <td>
            <mat-icon (click)="onGoEdit(user)" class="btn-info">edit</mat-icon>
            <mat-icon (click)="onDelete(user)" class="btn-danger">delete</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
