<app-header></app-header>

<div class="clearfix"></div>
<div id="forgotPassword" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                            <form [formGroup]='forgotPasswordForm'
                                (ngSubmit)="authService.forgotPassword(passwordResetEmail.value)">
                                <h1 class="h3 mb-3 font-weight-normal"><b>Reestablecer contraseña</b></h1>
                                <p class="text-center"> Por favor ingrese su correo electrónico para
                                    solicitar un reestablecimiento de contraseña.
                                </p>
                                <!--Campo Email-->
                                <span>Correo Electrónico:</span>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" formControlName="email"
                                        #passwordResetEmail required
                                        [ngClass]="{ 'is-invalid': form['email'].errors && form['email'].touched}">
                                    <div *ngIf="form['email'].errors" class="invalid-feedback">
                                        <div *ngIf="form['email'].errors['required']">
                                            Campo requerido
                                        </div>
                                        <div *ngIf="form['email'].errors['pattern']">
                                            Por favor ingrese un email válido
                                        </div>
                                    </div>
                                </div>
                                <!-- Calling ForgotPassword from AuthService Api -->
                                <div class="formGroup">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"
                                        [disabled]="forgotPasswordForm.invalid">
                                </div>
                            </form>
                        </div>
                        <div class="redirectToLogin">
                            <span>
                                <a routerLink="../loginAdmin" style="text-decoration: none;">
                                    &nbsp; ¿Iniciar Sesión?
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<app-footer></app-footer>