<div class="administracion">
  <app-topbar></app-topbar>
  <!--Header Comunicacion-->
  <div class="headerAdministracion">
    <mat-card>
      <nav id="menu">
          <li>
            <a [routerLink]="['/admin/administracion/listarUnidades']" [routerLinkActive]="['active']"
               (click)="onGoAjustesUnidades()">Unidades</a>
          </li>
          <li>
            <a [routerLink]="['/admin/administracion/usuarios']" [routerLinkActive]="['active']"
               (click)="onGoAjustesUsuarios()">Usuarios</a>
          </li>
          <li>
            <a [routerLink]="['/admin/administracion/areasComunes']" [routerLinkActive]="['active']"
               (click)="onGoAjustesAreasComunales()">Areas Comunes</a>
          </li>
      </nav>
    </mat-card>
  </div>
</div>


<router-outlet></router-outlet>
