.administracion{
    position: absolute;
    width: calc(100% - 231px);
    left: 231px;
    min-height: 100vh;
    background: rgba(0,0,0,0.08);
    transition: 0.5s;
}


.headerAdministracion mat-card{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 100px;
    width: 90%;
}

#menu {
    font-size: 20px;
}

#menu ul{
    line-height: 20px;
    width: 100%;
    float: initial;
    margin-bottom: 0rem;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    padding-top: 10px;
    transition: 300ms all;
    color: black;
}

#menu a:hover{
    color: #287bff;
}