<div class="Condominios">
    <div class="containerInfo">
        <mat-card>
            <h2>Lista de Condominios</h2>
            <div class="headerCondominio">
                <div class="card" *ngFor="let condominio of condominios">
                    <div>
                        <div class="cardName" (click)="onGoAdmin(condominio)">{{condominio.nombreCondominio}}</div>
                    </div>
                    <div class="iconBx">
                        <mat-icon (click)="onGoAdmin(condominio)">home</mat-icon>
                    </div>
                    <button type="button" class="btn btn-danger" (click)="onDelete(condominio)">Eliminar</button>
                </div>
                <div class="card" (click)="onGoCreate()">
                    <div>
                        <div class="cardName">Agregar Condominio</div>
                    </div>
                    <div class="iconBx">
                        <mat-icon>add</mat-icon>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary mt-2" (click)="onLogout()">Logout</button>
        </mat-card>
    </div>
</div>