<app-headerInside></app-headerInside>

<div class="Condominios">
  <div class="containerInfo">
    <mat-card>
      <h2>Seleccione el condominio que desea administrar</h2>
      <div class="headerCondominio">
        <div class="card" *ngFor="let condominio of condominios">
          <div>
            <div class="cardName" (click)="onGoAdmin(condominio)">{{condominio.nombreCondominio}}</div>
          </div>
          <div class="iconBx">
            <img src="{{condominio.imgCondominio}}" (click)="onGoAdmin(condominio)" alt="userImage">
          </div>
          <button type="button" class="btn btn-success" (click)="onGoAdmin(condominio)">Gestionar Condominio</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(condominio)">Eliminar Condominio</button>
        </div>
        <div class="card" (click)="onGoCreate()">
          <div>
            <div class="cardName">Agregar Condominio</div>
          </div>
          <div class="iconBx">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>


