<div class="mensajesUsuario">
    <div class="headerMensajesUsuario">
        <mat-card>
            <div class="botonAtras">
                <button type="button" class="btn btn-primary" (click)="onBackToUnits()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            </div>
        </mat-card>
    </div>

    <div class="cuerpoMensajesUsuario">
        <div class="headerUser">
            <mat-card>
                <mat-card-title>Alex Carrera</mat-card-title>
                <mat-card-subtitle>Unidad 1</mat-card-subtitle>
            </mat-card>
        </div>
        <div class="bodyUser">
            <mat-card *ngFor="let mensaje of mensajes">
                <mat-card-title>{{mensaje.tituloMensaje}}</mat-card-title>
                <mat-card-content>
                    <p>{{mensaje.descripcionMensaje}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" class="btn btn-danger mr-2">Eliminar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>