<div class="anuncioindividual">
  <div class="containerMensajes">
    <mat-card>
      <div class="unidadesPrivativas">
        <h2>Comunicados Individuales</h2>
        <h3>Datos de los Usuarios</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Unidad Privativa</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
          <h5 style="margin-top: 30px;" *ngIf='unidades.length == 0'>No hay datos para mostrar</h5>
          </thead>
          <tbody *ngFor="let unidad of unidades">
          <tr>
            <td>{{unidad.unidad}}</td>
            <td>{{unidad.nombreResidente}} {{unidad.apellidoResidente}}</td>
            <td>{{unidad.emailResidente}}</td>
            <td>
              <div>
                <button class="btn btn-info mr-2" (click)="onGoMensajesUsuarios(unidad)">Ver Mensajes
                </button>
                <button class="btn btn-primary ml-2" (click)="onGoNuevoMensaje(unidad)">Nuevo</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>
</div>
