#header {
  position: relative;
  justify-content: center;
  border-top: 4px solid rgb(44, 89, 160);
  background-color: white;
  width: 100%;
  height: 60px;
}

.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c";
}

.item1{
  grid-area: a;
  align-self: start !important;
  justify-self: start !important;
}

.item2{
  grid-area: b;
  align-self: center !important;
  justify-self: center !important;
}

.item3{
  grid-area: c;
  align-self: end !important;
  justify-self: end !important;
}

#logo {
  float: left;
  margin-top: 15px;
}

#logo a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  margin-left: 20px;
}

#logo a strong {
  text-decoration: none;
  color: rgb(44, 89, 160);
}

#logo a:hover {
  text-decoration: none;
  color: rgb(44, 89, 160);
}

#bienvenido{
  float: left;
  margin-top: 12px;
  left: 100px;
}

#bienvenido a {
  text-decoration: none;
  font-size: 18px;
  color: #287bff;
}

#contacto {
  font-size: 16px;
  margin-top: 15px;
}

#contacto mat-icon {
  font-size: 20px;
  color: rgb(44, 89, 160);
}

#contacto a {
  font-size: 16px;
  text-decoration: none;
  transition: 300ms all;
  color: #287bff;
  margin-right: 18px;
}

#contacto a:hover,
.active {
  color: rgb(44, 89, 160);
}

@media only screen and (max-width: 900px){

  #logo a {
    font-size: 18px;
  }

  #contacto a {
    font-size: 12px;
    margin-top: 5px;
  }

  #bienvenido a {
    font-size: 12px;
  }

}



