<div class="ajustesAreasComunalesCreate">
    <div class="containerInfo">
        <mat-card>
            <h2>Crear Areas Comunales</h2>
            <form [formGroup]='areaComunalForm' (ngSubmit)="onCreateAreaComunal()">
                <div class="form-group">
                    <label>Nombre del Area Comunal</label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-success" (click)="onBacktoList()">Volver</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>