<div class="ajustesUsuariosCreate">
    <div class="containerInfo">
        <mat-card>
            <h2>Usuarios</h2>
            <h3>Crear Usuarios
                <div *ngIf="loading" class="spinner-border float-right" role="status">
                    <span class="sr-only">Procesando...</span>
                </div>
            </h3>
            <form [formGroup]='createUsuarioForm' (ngSubmit)="agregarUsuario($event)">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="name" name="name"
                        [ngClass]="{ 'is-invalid': !createUsuarioForm.controls['name'].valid  && createUsuarioForm.controls['name'].touched }">
                    <div *ngIf=" createUsuarioForm.controls['name'].touched  && !createUsuarioForm.controls['name'].valid"
                        class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" formControlName="last_name" name="last_name"
                        [ngClass]="{ 'is-invalid': !createUsuarioForm.controls['last_name'].valid  && createUsuarioForm.controls['last_name'].touched }">
                    <div *ngIf=" createUsuarioForm.controls['last_name'].touched  && !createUsuarioForm.controls['last_name'].valid"
                        class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" name="email"
                        [ngClass]="{ 'is-invalid': !createUsuarioForm.controls['email'].valid && createUsuarioForm.controls['email'].touched}">
                    <div *ngIf="form['email'].errors" class="invalid-feedback">
                        <div *ngIf="form['email'].errors['required']">
                            Campo requerido
                        </div>
                        <div *ngIf="form['email'].errors['pattern']">
                            Por favor ingrese un email válido
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="input-group">
                        <input type="password" [type]="hide ? 'password' : 'text'" name="password" class="form-control"
                          formControlName="password"
                          [ngClass]="{ 'is-invalid': form['password'].errors && form['password'].touched }" />
                        <span class="input-group-text">
                          <mat-icon class="placeholder" (click)="showPassword()">{{hide ? 'visibility_off' : 'visibility'}}
                          </mat-icon>
                        </span>
                        <div *ngIf="form['password'].errors" class="invalid-feedback">
                          <div *ngIf="form['password'].errors['required']">
                            Campo requerido
                          </div>
                          <div *ngIf="form['password'].errors['minlength']">
                            La contraseña no puede tener menos de 6 caracteres
                          </div>
                          <div *ngIf="form['password'].errors['maxlength']">
                            La contraseña no puede exceder de los 15 caracteres
                          </div>
                        </div>
                      </div>
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" formControlName="phone"
                        [ngClass]="{ 'is-invalid': !createUsuarioForm.controls['phone'].valid  && createUsuarioForm.controls['phone'].touched }">
                    <div *ngIf="form['phone'].errors" class="invalid-feedback">
                        <div *ngIf="form['phone'].errors['pattern']">
                            La longitud del número no es válida
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Direccion</label>
                    <input type="text" class="form-control" formControlName="address">
                </div>
                <div class="centrarBotones">
                    <input type="submit" id="button" value="Guardar" class="btn btn-success mr-2"
                    [disabled]="createUsuarioForm.invalid">
                    <!--<button type="submit" class="btn btn-success mr-2" [disabled]="createUsuarioForm.invalid">Guardar</button>-->
                    <button class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>
