<div class="ajustesUnidades">
    <div class="containerInfo">
        <mat-card>
            <h2>Lista de Unidades</h2>
            <div>
                <button class="btn btn-primary mb-2">Crear Nuevo</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-warning mr-2">Editar</button>
                                <button type="button" class="btn btn-danger ml-2">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>