.topbar{

  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}

.user{
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.btn{
  position: relative;
  margin-right: 8px;
  padding: 5px 5px;
  background: #287bff;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}
