<app-header></app-header>

<div id="slider">
  <h1> Condominios EPN</h1>
</div>

<div class="clearfix"></div>

<!--Seccion Nosotros-->

<div id="nosotros">
  <h2>Nosotros</h2>
  <div class="container-border">
    <div class="row justify-content-around">
      <div class="col-sm-3">
        <mat-card class="example-card">
          <mat-card-title>DR. MARCO SANTÓRUM</mat-card-title>
          <mat-card-subtitle>
            Director del Proyecto<br>Escuela Politecnica Nacional
          </mat-card-subtitle>
          <img mat-card-lg-image src="../../../../assets/marcoSantorum.jpg">
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card class="example-card">
          <mat-card-title>MSc. MAYRA CARRIÓN</mat-card-title>
          <mat-card-subtitle>
            Codirector del Proyecto<br>Escuela Politecnica Nacional
          </mat-card-subtitle>
          <img mat-card-lg-image src="../../../../assets/mayraCarrion.jpg">
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card class="example-card">
          <mat-card-title>ALEX CARRERA</mat-card-title>
          <mat-card-subtitle>
            Estudiante de Ingenieria en Sistemas<br>Escuela Politecnica Nacional
          </mat-card-subtitle>
          <img mat-card-lg-image src="../../../../assets/alexCarrera.jpg">
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card class="example-card">
          <mat-card-title>ALEJANDRO TUPIZA</mat-card-title>
          <mat-card-subtitle>
            Estudiante de Ingenieria en Sistemas <br> Escuela Politecnica Nacional
          </mat-card-subtitle>
          <img mat-card-lg-image src="../../../../assets/alejandroTupiza.jpg">
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
