<div class="bodyUnidades">
    <div class="tablaUsuarios">
        <mat-card>
          <h2>Usuarios</h2>
          <h3>Lista de Usuarios</h3>
            <div class="control-section">
                <ejs-grid #grid id='Grid' [allowPaging]="true" [dataSource]='unidades' [allowSorting]="true"
                    [allowFiltering]="true" [pageSettings]="pageSettings" [toolbar]='toolbarOptions' height='272px'
                    [allowExcelExport]='true' (excelExportComplete)='excelExportComplete()'
                    (toolbarClick)='toolbarClick($event)'>
                    <!--[allowPdfExport]='true' (pdfExportComplete)='pdfExportComplete()'-->
                    <e-columns>
                        <e-column field='numeroUnidad' headerText='Unidad' textAlign='Left' width=120> </e-column>
                        <e-column field='tipoUnidad' headerText='Tipo' width=120> </e-column>
                        <e-column field='nombreResidente' headerText='Usuario' width=120> </e-column>
                        <e-column field='emailResidente' headerText='Correo' width=120> </e-column>
                        <e-column field='telefonoResidente' headerText='Teléfono' width=120> </e-column>
                        <e-column field='areaUnidad' headerText='Area (m^2)' width=120> </e-column>
                    </e-columns>
                </ejs-grid>`
            </div>
        </mat-card>
    </div>
</div>
