<div class="bodyUnidades">
    <div class="tablaUsuarios">
        <mat-card>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Unidad</th>
                        <th>Tipo</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Celular</th>
                        <th>Área</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unidad of unidades">
                        <td>{{unidad.numeroUnidad}}</td>
                        <td>{{unidad.tipoUnidad}}</td>
                        <td>{{unidad.nombreArrendatario}} {{unidad.apellidoArrendatario}}</td>
                        <td>{{unidad.emailArrendatario}}</td>
                        <td>{{unidad.telefonoArrendatario}}</td>
                        <td>{{unidad.celularArrendatario}}</td>
                        <td>{{unidad.areaUnidad}} m.</td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>