<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <mat-icon>donut_small</mat-icon>
                </span>
                <span class="title">Administrador</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/inicio']" [routerLinkActive]="['active']" (click)="onGoInicio()">
                <span class="icon">
                    <mat-icon>home</mat-icon>
                </span>
                <span class="title">Inicio</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/administracion']" [routerLinkActive]="['active']" (click)="onGoAdministracion()">
                <span class="icon">
                    <mat-icon>people</mat-icon>
                </span>
                <span class="title">Administración</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/comunicacion']" [routerLinkActive]="['active']" (click)="onGoComunicacion()">
                <span class="icon">
                    <mat-icon> chat</mat-icon>
                </span>
                <span class="title">Comunicación</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/reportes']" [routerLinkActive]="['active']" (click)="onGoReportes()">
                <span class="icon">
                    <mat-icon>folder</mat-icon>
                </span>
                <span class="title">Reportes</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/finanzas']" [routerLinkActive]="['active']" (click)="onGoFinanzas()">
                <span class="icon">
                    <mat-icon> attach_money</mat-icon>
                </span>
                <span class="title">Finanzas</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/ajustes']" [routerLinkActive]="['active']" (click)="onGoAjustes()">
                <span class="icon">
                    <mat-icon>settings</mat-icon>
                </span>
                <span class="title">Ajustes</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/selectCondominio']" [routerLinkActive]="['active']" (click)="onLogout()">
                <span class="icon">
                    <mat-icon>exit_to_app</mat-icon>
                </span>
                <span class="title">Salir</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                    <mat-icon>donut_small</mat-icon>
                </span>
                <span class="title">CondominioEPN</span>
            </a>
        </li>
    </ul>
</div>
