<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon"></span>
                <span class="title">Administrador</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"></span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"></span>
                <span class="title">Customer</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"></span>
                <span class="title">Message</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"></span>
                <span class="title">Help</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"></span>
                <span class="title">Settings</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"></span>
                <span class="title">Password</span>
            </a>
        </li>
        <li>
            <a [routerLink] = "['/home']" [routerLinkActive]="['active']">
                <span class="icon"></span>
                <span class="title">Sing Out</span>
            </a>
        </li>
    </ul>
</div>
