<div class="egresos">

  <div class="containerInfo">
    <mat-card>
      <h2>Registrar Egresos</h2>
      <h3>Listado de Egresos</h3>
      <div>
        <button class="btn btn-primary mb-2" (click)="onGoCreate()">Crear Egreso</button>
      </div>
      <br>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [dataSource]="egresos" [allowSorting]="true" [allowPaging]="true" gridLines="Both"
                  [pageSettings]="pageSettings" [toolbar]="toolbarOptions" (commandClick)="commandClick($event)"
                  (toolbarClick)="toolbarClick($event)" [allowExcelExport]="true" (excelExportComplete)="excelExportComplete()"
                  [allowPdfExport]="true" (pdfExportComplete)="pdfExportComplete()">
          <e-columns>
            <e-column field='fechaEgreso' headerText='Fecha de Pago' width=160> </e-column>
            <e-column field='numeroReciboEgreso' headerText='Número Recibo de Egreso' width=200> </e-column>
            <e-column field='tipoCuenta' headerText='Tipo de Cuenta' width=160> </e-column>
            <e-column field='tiposPago' headerText='Tipo de Pago' width=160> </e-column>
            <e-column field='observacionesEgreso' headerText='Detalle de Pago' width=180> </e-column>
            <e-column field='valorEgreso' headerText='Valor Total' width=140 format="C2"> </e-column>
            <e-column headerText='Opciones' width=120 [commands]='commands'></e-column>
          </e-columns>
        </ejs-grid>`
      </div>
    </mat-card>
  </div>
</div>
