<div class="egresos">
    <!--Formulario Ingresos Pagos-->
  
    <div class="containerFormulario">
      <mat-card>
        <form class="formularioAnuncio">
          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <mat-select multiple>
              <mat-option>Unidad 1</mat-option>
              <mat-option>Unidad 2</mat-option>
              <mat-option>Unidad 3</mat-option>
              <mat-option>Unidad 4</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cantidad</mat-label>
            <mat-select multiple>
              <mat-option>Unidad 1</mat-option>
              <mat-option>Unidad 2</mat-option>
              <mat-option>Unidad 3</mat-option>
              <mat-option>Unidad 4</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cuenta</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Metodo de Pago</mat-label>
            <mat-select multiple>
              <mat-option>Unidad 1</mat-option>
              <mat-option>Unidad 2</mat-option>
              <mat-option>Unidad 3</mat-option>
              <mat-option>Unidad 4</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select multiple>
              <mat-option>Unidad 1</mat-option>
              <mat-option>Unidad 2</mat-option>
              <mat-option>Unidad 3</mat-option>
              <mat-option>Unidad 4</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Concepto</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Proveedor</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="textAreaAnuncio" appearance="fill">
            <mat-label>Anuncio</mat-label>
            <textarea matInput placeholder="Ingrese su anuncio"></textarea>
          </mat-form-field>
        </form>
        <div id="botonPago">
          <a class="btn" type="submit">Pagar</a>
        </div>
      </mat-card>
    </div>
  </div>
  