<header id="header">
  <div class="center">

    <!--logo-->
    <div id="logo">
      <a [routerLink]="['/home']" [routerLinkActive]="['active']">
        Condominio<strong>EPN</strong>
      </a>
    </div>

    <!--contacto-->

    <div id="contacto">
      <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Nosotros</a>
      <a [routerLink]="['/loginAdmin']" [routerLinkActive]="['active']">Iniciar Sesión</a>
      <a [routerLink]="['/registerAdmin']" [routerLinkActive]="['active']">Registrarse</a>
    </div>


  </div>

</header>
