<header id="header">
  <div class="center">

    <!--logo-->
    <div id="logo">
      <a [routerLink] = "['/home']" [routerLinkActive]="['active']">
        Condominio<strong>EPN</strong>
      </a>
    </div>
    

    <!--menu-->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink] = "['/home']" [routerLinkActive]="['active']">Inicio</a>
        </li>
        <li>
          <a [routerLink] = "['/admin']" [routerLinkActive]="['active']">Nosotros</a>
        </li>
        <li>
          <a>Servicios</a>
        </li>
        <li>
          <a>Contactos</a>
        </li>
        <li>
          <a [routerLink] = "['/login']" [routerLinkActive]="['active']">Login</a>
        </li>
      </ul>
    </nav>

    <!--contacto-->

    <div id="contacto">
      <mat-icon> email</mat-icon>
      <a> contacto@condominios.com</a>
    </div>

    <div id="contacto">
      <mat-icon>call</mat-icon>
      <a> +1234567890</a>
    </div>


  </div>

</header>
