<div class="finanzas">
  <app-topbar></app-topbar>
  <div class="headerFinanzas">
    <mat-card>
      <nav id="menu">
          <li>
            <a [routerLink]="['/admin/finanzas/ingresosFinanzas/']" [routerLinkActive]="['active']">Registrar Mensualidades</a>
          </li>
          <li>
            <a [routerLink]="['/admin/finanzas/ingresosExtraordinarios']" [routerLinkActive]="['active']">Registar Ingresos Extraordinarios</a>
          </li>
          <li>
            <a [routerLink]="['/admin/finanzas/egresosFinanzas']" [routerLinkActive]="['active']">Registrar Egresos</a>
          </li>
      </nav>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
