<div class="finanzas">
  <app-topbar></app-topbar>
  <h1>Finanzas Works</h1>
  <div class="headerFinanzas">
    <mat-card>
      <nav id="menu">
        <ul>
          <li>
            <a [routerLink]="['/admin/comunicacion/generales']" [routerLinkActive]="['active']">Anuncios Generales</a>
          </li>
          <li>
            <a [routerLink]="['/admin/comunicacion/individuales']" [routerLinkActive]="['active']">Comunicados Individuales</a>
          </li>
        </ul>
      </nav>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
