.finanzas {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  min-height: 100vh;
  transition: 0.5s;
  background: rgb(40,133,255);
  background: linear-gradient(90deg, rgba(40,133,255,0.8477766106442577) 0%, rgba(40,82,255,0.8477766106442577) 50%, rgba(22,6,128,1) 100%);
}

.headerFinanzas mat-card {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: #287bff;
  width: 99%;
  top: 15px;
  left: 8px;
  border-radius: 10px;
}

#menu {
  font-size: 20px;
}

#menu li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  padding-top: 10px;
  transition: 300ms all;
  color: white;
}

#menu a:hover {
  color: black;
}

a.active{
  color: black !important;
}

@media only screen and (max-width: 900px) {

  .finanzas {
    width: calc(100% - 50px);
    left: 50px;
    overflow: auto;
    max-height: 750px;
    right: 10px;
  }

  .headerFinanzas mat-card {
    width: 95%;
  }

  #menu li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
}
