<div class="ingresos">

  <div class="containerInfo">
    <mat-card>
      <h2>Ingresos</h2>
      <h3>Listado de Ingresos</h3>
      <div class="centrar">
        <div class="cardsDatosEgresos">
          <div class="card">
            <div>
              <div class="cardName">Total Ingresos</div>
              <div class="numbers">$ {{sumaIngresos | number : '1.1-2'}}</div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [dataSource]="ingresos" [allowSorting]="true" [allowPaging]="true" gridLines="Both"
                  [pageSettings]="pageSettings" [toolbar]="toolbarOptions"
                  (toolbarClick)="toolbarClick($event)" [allowExcelExport]="true"
                  (excelExportComplete)="excelExportComplete()"
                  [allowPdfExport]="true" (pdfExportComplete)="pdfExportComplete()">
          <e-columns>
            <e-column field='fechaReciboPago' headerText='Fecha de Pago' width=100></e-column>
            <e-column field='numeroReciboPago' headerText='Número Recibo de Egreso' width=100></e-column>
            <e-column field='tipoCuenta' headerText='Tipo de Cuenta' width=100></e-column>
            <e-column field='tiposPago' headerText='Tipo de Pago' width=100></e-column>
            <e-column field='modoPago' headerText='Modo de Pago' width=100></e-column>
            <e-column field='observaciones' headerText='Detalle de Pago' width=100></e-column>
            <e-column field='valorPago' headerText='Valor Total' width=80 format="C2"></e-column>
          </e-columns>
          <e-aggregates>
            <e-aggregate>
              <e-columns>
                <e-column type="Sum" field="valorPago" format="C2">
                  <ng-template let-ingresos>{{ingresos.sum}}</ng-template>
                </e-column>
              </e-columns>
            </e-aggregate>
          </e-aggregates>
        </ejs-grid>
      </div>
    </mat-card>
  </div>
</div>
