<div class="ingresoReportes">

  <div class="containerTitulo">
    <mat-card>
      <div class="cardsDatosIngresos">
        <div class="card">
          <div>
            <div class="cardName">Total Ingresos</div>
            <div class="numbers">$3200.00</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="tablaIngresoReportes">
    <mat-card>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Unidad</th>
            <th>Recibo</th>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Categoria</th>
            <th>Cuenta</th>
            <th>Descuento</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Casa</td>
            <td>222KDASK</td>
            <td>2021-09-06</td>
            <td>
              <p>Mantimiento Agosto 2021</p>
              <p>Mantimiento Septiembre 2021</p>
            </td>
            <td>
              <p>Mantimiento</p>
              <p>Mantimiento Areas Comunales</p>
            </td>
            <td>$200</td>
            <td>$800</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Casa</td>
            <td>222KDASK</td>
            <td>2021-09-06</td>
            <td>
              <p>Mantimiento Agosto 2021</p>
              <p>Mantimiento Septiembre 2021</p>
            </td>
            <td>
              <p>Mantimiento</p>
              <p>Mantimiento Areas Comunales</p>
            </td>
            <td>$200</td>
            <td>$800</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Casa</td>
            <td>222KDASK</td>
            <td>2021-09-06</td>
            <td>
              <p>Mantimiento Agosto 2021</p>
              <p>Mantimiento Septiembre 2021</p>
            </td>
            <td>
              <p>Mantimiento</p>
              <p>Mantimiento Areas Comunales</p>
            </td>
            <td>$200</td>
            <td>$800</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Casa</td>
            <td>222KDASK</td>
            <td>2021-09-06</td>
            <td>
              <p>Mantimiento Agosto 2021</p>
              <p>Mantimiento Septiembre 2021</p>
            </td>
            <td>
              <p>Mantimiento</p>
              <p>Mantimiento Areas Comunales</p>
            </td>
            <td>$200</td>
            <td>$800</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>$3200</td>
          </tr>
        </tfoot>
      </table>
    </mat-card>
  </div>
</div>
