.ingresos {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  top: 155px;
  min-height: 82vh;
}

.containerInfo mat-card {
  display: grid;
  width: 90%;
  left: 5%;
  top: 1vh;
  border-radius: 20px;
  padding-bottom: 25px;
  overflow: auto;
  max-height: 750px;
}

.containerInfo mat-card h2 {
  background-color: #287bff;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.containerInfo mat-card h3 {
  background-color: #2ba846;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.cardsDatosEgresos {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  grid-gap: 25px;
}

.cardsDatosEgresos .card {
  position: relative;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardsDatosEgresos .card:hover {
  background: #287bff;
}

.cardsDatosEgresos .card .numbers {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 600;
  font-size: 2em;
  color: #287bff;
}

.cardsDatosEgresos .card .cardName {
  color: #999;
  font-size: 1.5em;
  text-align: center;
}


.cardsDatosEgresos .card:hover .numbers,
.cardsDatosEgresos .card:hover .cardName {
  color: #fff;
}

@media only screen and (max-width: 900px) {

  .ingresos {
    width: calc(100% - 15px);
    left: 15px;
    max-height: 750px;
  }

  .containerInfo mat-card {
    width: 85%;
    left: 10%;
  }

  .cardsDatosEgresos {
    grid-gap: 10px;
  }

}
