<!--<br>
<h2>Reservas</h2>
<h3>Información de la Reserva
    <div *ngIf="loading" class="spinner-border float-right" role="status">
        <span class="sr-only">Procesando...</span>
    </div>
</h3>
<form [formGroup]="reservaForm" (ngSubmit)="onEditReserva()">
    <div class="form-group">
        <label>Fecha de Reserva Inicio</label>
        <ejs-datetimepicker formControlName="fechaReservaInicio" placeholder="Seleccione la fecha y hora"
            floatLabelType="Auto"
            [ngClass]="{ 'is-invalid': !reservaForm.controls['fechaReservaInicio'].valid && reservaForm.controls['fechaReservaInicio'].touched }">
        </ejs-datetimepicker>
        <div *ngIf=" reservaForm.controls['fechaReservaInicio'].touched && !reservaForm.controls['fechaReservaInicio'].valid"
            class="invalid-feedback">
            Fecha invalida
        </div>
    </div>
    <div class="form-group">
        <label>Fecha de Reserva Fin</label>
        <ejs-datetimepicker formControlName="fechaReservaFin" placeholder="Seleccione la fecha y hora"
            floatLabelType="Auto"
            [ngClass]="{ 'is-invalid': !reservaForm.controls['fechaReservaFin'].valid && reservaForm.controls['fechaReservaFin'].touched }">
        </ejs-datetimepicker>
        <div *ngIf=" reservaForm.controls['fechaReservaFin'].touched && !reservaForm.controls['fechaReservaFin'].valid"
            class="invalid-feedback">
            Fecha invalida
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label>Seleccione el Área</label>
                <select class="form-control" formControlName="idAreaComunal" (ngModelChange)="onAreaChanged($event)"
                    [ngClass]="{ 'is-invalid': !reservaForm.controls['idAreaComunal'].valid  && reservaForm.controls['idAreaComunal'].touched }">
                    <option *ngFor="let area of areas" [ngValue]="area.idAreaComunal">Área: {{area.nombre}}
                    </option>
                </select>
                <div *ngIf=" reservaForm.controls['idAreaComunal'].touched  && !reservaForm.controls['idAreaComunal'].valid"
                    class="invalid-feedback">
                    Campo requerido
                </div>
            </div>

        </div>
    </div>

    <form [formGroup]='areaComunalForm'>
        <input type="hidden" class="form-control" formControlName="nombre" [readonly]="true">
    </form>

    <div class="form-group">
        <label>Estado Reserva</label>
        <select class="form-control" formControlName="estadoReserva"
            [ngClass]="{ 'is-invalid': !reservaForm.controls['estadoReserva'].valid  && reservaForm.controls['estadoReserva'].touched }">
            <option value="Aceptado">Aceptado</option>
            <option value="Rechazado">Rechazado</option>
            <option selected="Selected">Pendiente</option>
        </select>
        <div *ngIf=" reservaForm.controls['estadoReserva'].touched  && !reservaForm.controls['estadoReserva'].valid"
            class="invalid-feedback">
            Campo requerido
        </div>
    </div>
    <div class="form-group">
        <label>Seleccione la Unidad</label>
        <select class="form-control" formControlName="idUnidad" (ngModelChange)="onUnitChanged($event)"
            [ngClass]="{ 'is-invalid': !reservaForm.controls['idUnidad'].valid  && reservaForm.controls['idUnidad'].touched }">
            <option *ngFor="let unidad of unidades" [ngValue]="unidad.idUnidad">Unidad: {{unidad.unidad}}
            </option>
        </select>
        <div *ngIf=" reservaForm.controls['idUnidad'].touched  && !reservaForm.controls['idUnidad'].valid"
            class="invalid-feedback">
            Campo requerido
        </div>
    </div>
    <form [formGroup]='datosUnidadForm'>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label>Nombre Residente: </label>
                    <input type="text" class="form-control" formControlName="nombreResidente" [readonly]="true">
                </div>
                <div class="col">
                    <label>Apellido Residente: </label>
                    <input type="text" class="form-control" formControlName="apellidoResidente" [readonly]="true">
                </div>
            </div>
        </div>
        <input type="hidden" class="form-control" formControlName="unidad" [readonly]="true">
    </form>
    <div class="form-group">
        <label>Detalle de la Reserva</label>
        <input type="text" class="form-control" formControlName="detalleReserva"
            [ngClass]="{ 'is-invalid': !reservaForm.controls['detalleReserva'].valid && reservaForm.controls['detalleReserva'].touched }">
        <div *ngIf=" reservaForm.controls['detalleReserva'].touched && !reservaForm.controls['detalleReserva'].valid"
            class="invalid-feedback">
            Campo requerido
        </div>
    </div>
    <div class="centrarBotones">
        <button type="submit" class="btn btn-success mr-2" [disabled]="reservaForm.invalid">Modificar Reserva</button>
        <button type="button" class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
    </div>
</form>-->