<div class="ajustesAdminEdit">
  <div class="containerInfo">
    <mat-card>
      <h2>Cuenta</h2>
      <h3>Editar Datos del Administrador</h3>
      <form [formGroup]='administradorForm' (ngSubmit)="onCreateAdmin()" *ngFor="let admin of administrador">
        <div class="form-group">
          <label>Nombres</label>
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="admin.name">
        </div>
        <div class="form-group">
          <label>Apellidos</label>
          <input type="text" class="form-control" formControlName="last_name" [(ngModel)]="admin.last_name">
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" class="form-control" formControlName="address" [(ngModel)]="admin.address">
        </div>
        <div class="form-group">
          <label>Teléfono</label>
          <input type="text" class="form-control" formControlName="phone" [(ngModel)]="admin.phone">
        </div>
        <div class="centrarBotones">
          <button type="submit" class="btn btn-success mr-2">Guardar</button>
          <button type="button" class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
