<div class="ajustesAdminEdit">
    <div class="containerInfo">
      <mat-card>
        <h2>Editar</h2>
        <h3><strong>Titular de la información</strong></h3>
        <div class="card">
          <div><b>Nombre: </b></div>
          <div><b>Direccion: </b></div>
          <div><b>Email: </b></div>
          <div><b>Celular: </b></div>
        </div>
        <div class="notes">
          La persona titular de la información, es considerada el
          propietario de los datos alojados en el sistema y aquellos que se generan dentro
          del mismo fruto de la operación diaria, siendo su responsabilidad el cumplimiento
          de cualquier tipo de acuerdo de confidencialidad para con sus clientes o miembros
          de su comunidad.
        </div>
        <div>
          <button class="btn btn-success mt-2" (click)="onBacktoList()">Volver</button>
        </div>
      </mat-card>
    </div>
  </div>