<div class="selectorUnidades">

  <div class="containerInfo">
    <mat-card>
      <h2>Registrar Mensualidades</h2>
      <h3>Seleccione la unidad para asignar el pago</h3>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [dataSource]="unidades" [allowSorting]="true" [allowPaging]="true" gridLines="Both"
                  [pageSettings]="pageSettings" (rowDataBound)="rowDataBound($event)" (commandClick)="commandClick($event)"
                  [toolbar]="toolbarOptions" (toolbarClick)="toolbarClick($event)" [allowExcelExport]="true"
                  (excelExportComplete)="excelExportComplete()" [allowPdfExport]="true"
                  (pdfExportComplete)="pdfExportComplete()">
          <e-columns>
            <e-column headerText="No" width='50'></e-column>
            <e-column field='unidad' headerText='Unidad' width=90> </e-column>
            <e-column field='nombreResidente' headerText='Nombre' width=90> </e-column>
            <e-column field='apellidoResidente' headerText='Apellido' width=90> </e-column>
            <e-column field='telefonoResidente' headerText='Teléfono' width=90> </e-column>
            <e-column field='cuotaUnidad' headerText='Valor Mensualidad' width=90 format="C2"> </e-column>
            <e-column headerText='Seleccionar' width=80 [commands]='commands'></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </mat-card>
  </div>
</div>
