<div class="ajustesCondominio">
  <div class="containerInfo">
    <mat-card *ngFor="let condominio of infoCondominio">
      <h2>Condominio</h2>
      <h3>Datos del Condominio</h3>
      <div class="card" >
        <div><b>Nombre: </b>{{condominio.nombreCondominio}}</div>
        <div><b>Ciudad: </b>{{condominio.ciudadCondominio}}</div>
        <div><b>Descripción: </b>{{condominio.descripcionCondominio}}</div>
        <div class="iconBx">
          <img src="{{condominio.imgCondominio}}" alt="userImage">
        </div>
      </div>
      <div>
        <button class="btn btn-primary mt-2" (click)="onGoEdit(condominio)">Editar</button>
      </div>
    </mat-card>
  </div>
</div>
