<div class="ajustesUnidadesCreate">
  <div class="containerInfo">
    <mat-card>
      <h2>Unidades</h2>
      <h3>Crear Unidades</h3>
      <form class="form-inline" [formGroup]='unidadesForm' (ngSubmit)="onCreateUnidades()">
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <label>Numero de la Unidad: </label>
          <input type="number" min="1" step="1" class="form-control" formControlName="numeroUnidad">
        </div>
        <div class="input-group mb-2 mb-sm-2">
          <label>Tipo de Unidad: </label>
          <select class="form-control" formControlName="tipoUnidad">
            <option value="Departamento" selected>Departamento</option>
            <option value="Casa">Casa</option>
          </select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <label>Area Unidad: </label>
          <input type="number" class="form-control" formControlName="areaUnidad">
        </div>
        <div class="input-group mb-2 mb-sm-2">
          <label>Nombre del Arrendatario: </label>
          <input type="text" class="form-control" formControlName="nombreArrendatario">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <label>Apellido Arrendatario: </label>
          <input type="text" class="form-control" formControlName="apellidoArrendatario">
        </div>
        <div class="input-group mb-2 mb-sm-2">
          <label>Celular del Arrendatario: </label>
          <input type="number" class="form-control" formControlName="celularArrendatario">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <label>Email Arrendatario: </label>
          <input type="text" class="form-control" formControlName="emailArrendatario">
        </div>
        <div class="input-group mb-2 mb-sm-2">
          <label>Nombre Arrendador: </label>
          <input type="text" class="form-control" formControlName="nombreArrendador">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <label>Apellido Arrendador: </label>
          <input type="text" class="form-control" formControlName="ApellidoArrendador">
        </div>
        <div class="input-group mb-2 mb-sm-2">
          <label>emailArrendador: </label>
          <input type="text" class="form-control" formControlName="emailArrendador">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <label>Celular del Arrendador: </label>
          <input type="number" class="form-control" formControlName="celularArrendador">
        </div>
        <div></div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-success" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
