<div class="ajustes">
  <app-topbar></app-topbar>

  <div class="headerAjustes">
    <mat-card>
      <nav id="menu">
        <li>
          <a [routerLink]="['/admin/ajustes/ajustesAdmin']" [routerLinkActive]="['active']"
             (click)="onGoAjustesAdmin()">Perfil Usuario</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/ajustesCondominio']" [routerLinkActive]="['active']"
             (click)="onGoAjustesCondominio()">Condominio</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/ajustesUsuarios']" [routerLinkActive]="['active']"
             (click)="onGoAjustesUsuarios()">Usuarios</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/ajustesListarUnidades']" [routerLinkActive]="['active']"
             (click)="onGoAjustesajustesUnidades()">Unidades</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/ajustesAreasComunales']" [routerLinkActive]="['active']"
             (click)="onGoAjustesAreasComunales()">Areas Comunales</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/Cuentas']" [routerLinkActive]="['active']"
             (click)="onGoCuentas()">Cuentas</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/Descuentos']" [routerLinkActive]="['active']"
             (click)="onGoDescuentos()">Descuentos</a>
        </li>
        <li>
          <a [routerLink]="['/admin/ajustes/Cuentas']" [routerLinkActive]="['active']"
             (click)="onGoPagos()">Metodos de Pagos</a>
        </li>
      </nav>
    </mat-card>

  </div>
</div>
<router-outlet></router-outlet>
