<div class="ajustes">
  <app-topbar></app-topbar>

  <div class="headerAjustes">
    <mat-card>
      <nav id="menu">
        <ul>
          <li>
            <a [routerLink]="['/admin/ajustes/ajustesAdmin']" [routerLinkActive]="['active']"
               (click)="onGoAjustesAdmin()">Perfil Usuario</a>
          </li>
          <li>
            <a [routerLink]="['/admin/ajustes/Cuentas']" [routerLinkActive]="['active']"
               (click)="onGoCuentas()">Cuentas</a>
          </li>
          <li>
            <a [routerLink]="['/admin/ajustes/Cuentas']" [routerLinkActive]="['active']"
               (click)="onGoPagos()">Metodos de Pagos</a>
          </li>
          <li>
            <a [routerLink]="['/admin/ajustes/ajustesCondominio']" [routerLinkActive]="['active']"
               (click)="onGoAjustesCondominio()">Condominio</a>
          </li>
          <li>
            <a [routerLink]="['/admin/ajustes/ajustesUsuarios']" [routerLinkActive]="['active']"
               (click)="onGoAjustesUsuarios()">Usuarios</a>
          </li>
          <li>
            <a [routerLink]="['/admin/ajustes/ajustesUnidadesSelectUser']" [routerLinkActive]="['active']"
               (click)="onGoAjustesajustesUnidades()">Unidades</a>
          </li>
        </ul>
      </nav>
    </mat-card>

  </div>
</div>
<router-outlet></router-outlet>
