<div class="selectorUnidades">

  <div class="containerInfo">
    <mat-card>
      <h2>Unidades</h2>
      <h3>Seleccione la Unidad</h3>
      <div class="headerCondominio">
        <div class="card" *ngFor="let unidad of unidades">
          <div>
            <div class="cardName" (click)="onGoUnits(unidad)">Unidad: {{unidad.numeroUnidad}}</div>
          </div>
          <div class="iconBx">
            <img src="../../../../assets/logoCondominio.jpg" (click)="onGoUnits(unidad)" alt="userImage">
          </div>
        </div>

      </div>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [allowPaging]="true" [dataSource]="unidades" [allowSorting]="true"
          [pageSettings]="pageSettings" gridLines="Both" (rowDataBound)="rowDataBound($event)"
          (commandClick)='commandClick($event)'>
          <e-columns>
            <e-column headerText="No" width='100'></e-column>
            <e-column field='tipoUnidad' headerText='Unidad' width=110> </e-column>
            <e-column headerText='Ver' width=95 [commands]='commands'></e-column>
          </e-columns>
        </ejs-grid>`
      </div>
    </mat-card>
  </div>

</div>