<div class="selectorUnidades">

  <div class="containerInfo">
    <mat-card>
      <h2>Unidades</h2>
      <h3>Seleccione la Unidad</h3>
      <div class="headerCondominio">
        <div class="card" *ngFor="let unidad of unidades">
          <div>
            <div class="cardName" (click)="onGoUnits(unidad)">Unidad: {{unidad.numeroUnidad}}</div>
          </div>
          <div class="iconBx">
            <img src="../../../../assets/logoCondominio.jpg" (click)="onGoUnits(unidad)" alt="userImage">
          </div>
        </div>
      </div>
    </mat-card>
  </div>

</div>
