<div class="selectorUnidades">

  <div class="containerInfo">
    <mat-card>
      <h2>Unidades</h2>
      <h3>Seleccione la Unidad</h3>
        <div class="control-section">
          <ejs-grid #grid id='Grid' [dataSource]="unidades" [allowSorting]="true" [allowPaging]="true" gridLines="Both"
            [pageSettings]="pageSettings" (commandClick)="commandClick($event)"
            [toolbar]="toolbarOptions" (toolbarClick)="toolbarClick($event)" [allowExcelExport]="true"
            (excelExportComplete)="excelExportComplete()" [allowPdfExport]="true"
            (pdfExportComplete)="pdfExportComplete()" (created)='created()'>
            <e-columns>
              <!--(rowDataBound)="rowDataBound($event)"
              <e-column headerText="No" width='25'></e-column>-->
              <e-column field='unidad' headerText='Unidad' width=110> </e-column>
              <e-column headerText='Ver' width='25' [commands]='commands'></e-column>
            </e-columns>
          </ejs-grid>
        </div>
    </mat-card>
  </div>
</div>
