.ajustesAreasComunales {
    position: absolute;
    width: calc(100% - 231px);
    left: 231px;
    top: 150px;
  }
  
  .containerInfo mat-card {
    display: grid;
    width: 80%;
    left: 10%;
    top: 7vh;
    border-radius: 20px;
    padding-bottom: 25px;
  }
  
  .containerInfo mat-card h2 {
    background-color: #287bff;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }
  
  .containerInfo mat-card h3 {
    background-color: #2ba846;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }
  
  
  .headerAreaComunal {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  
  .headerAreaComunal .card {
    position: relative;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .headerAreaComunal .card:hover {
    background: #287bff;
  }
  
  .headerAreaComunal .card .cardName {
    font-size: 1.4em;
    margin-top: 10px;
    text-align: center;
    color: #287bff
  }
  
  .headerAreaComunal .card .iconBx {
    color: #545151;
    background-color: white;
    position: relative;
    margin: 20px;
    min-width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .headerAreaComunal .card .iconBx mat-icon {
    font-size: 85px;
    margin-left: 3px;
  }
  
  .headerAreaComunal .card .iconBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .headerAreaComunal .card:hover .numbers,
  .headerAreaComunal .card:hover .cardName{
    color: #fff;
  }
  .headerAreaComunal .card:hover .iconBx {
    color: #287bff
  }
  