<div class="ajustesAreasComunales">
  <div class="containerInfo">
    <mat-card>
      <h2>Reservas</h2>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" [routerLink]="['/admin/administracion/areasComunes/reservasPendientes']"
          [routerLinkActive]="['active']">Reservaciones Pendientes
        </mat-button-toggle>
        <mat-button-toggle value="bold" [routerLink]="['/admin/administracion/areasComunes/reservasTotales']">Todas las
          Reservaciones
        </mat-button-toggle>
      </mat-button-toggle-group>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
