<div class="nuevoAnuncio">
  <div class="containerAnuncio">
    <mat-card>
      <h2>Anuncios Generales</h2>
      <h3>Crear Anuncio General</h3>
      <form [formGroup]='anunciosForm' (ngSubmit)="onCreateAnuncios()">
        <div class="form-group">
          <label>Título</label>
          <input type="text" class="form-control" formControlName="tituloAnuncio">
        </div>
        <div class="form-group">
          <label>Fecha</label>
          <input type="datetime-local" class="form-control" min="2022-01-01" max="2040-12-31"
                 formControlName="fechaAnuncio">
        </div>
        <div class="form-group">
          <label>Descripcion</label><br>
          <textarea formControlName="descripcionAnuncio" class="form-control" rows="3"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-success mr-2" (click)="onCreateAnuncios()">Guardar</button>
          <button class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
