.nuevoAnuncio {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  top: 150px;
  min-height: 82vh;
}

.headerAnuncio mat-card {
  display: flex;
  top: 15px;
  width: 99%;
  left: 8px;
  border-radius: 20px;
  padding-bottom: 25px;
}

.containerAnuncio mat-card{
  top: 15px;
  margin-top: 15px;
  width: 99%;
  left: 8px;
  border-radius: 20px;
  padding: 20px 20px;
}

.btn{
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    padding-bottom: 2px;
    background: #287bff;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
}

.example-full-width {
  width: 100%;
}

#insertFile{
  margin-bottom: 15px;
}

.textAreaAnuncio{
  width: 100%;
  height: auto;
}

.formularioAnuncio .botonesSubmit{
  display:flex;
  justify-content: right;
}