.finanzas {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  min-height: 100vh;
  transition: 0.5s;
  background: rgb(40,133,255);
  background: linear-gradient(90deg, rgba(40,133,255,0.8477766106442577) 0%, rgba(40,82,255,0.8477766106442577) 50%, rgba(22,6,128,1) 100%);
}

.cardsBalance{
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-gap: 5px;
  width: 100%;
  left: 20%;
  top: 100px;
}

.cardsBalance .card{
  position: relative;
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  display: flex;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardsBalance .card .numbers{
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  font-weight: 580;
  font-size: 1.5em;
  color: #287bff;
}

.cardsBalance .card .cardName{
  color: #999;
  font-size: 1.7em;
  text-align: center;
}


.containerInfo mat-card {
  display: grid;
  width: 98%;
  left: 1%;
  top: 5px;
  border-radius: 20px;
  padding-bottom: 25px;
  overflow: auto;
  min-height: 310px;
  max-height: 74vh;
}

.containerInfo mat-card h2 {
  background-color: #287bff;
  max-height: 35px;
  color: #fff;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

.containerInfo mat-card h3 {
  background-color: #2ba846;
  max-height: 35px;
  color: #fff;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

a.active{
  color: black !important;
}

@media only screen and (max-width: 900px) {

  .finanzas {
    width: calc(100% - 15px);
    left: 15px;
    max-height: 750px;
  }

  .containerInfo mat-card {
    width: 85%;
    left: 10%;
  }

}
