.selectorUnidades {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  top: 165px;
  min-height: 82vh;
}

.containerSelector mat-card {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 99%;
  left: 8px;
  padding-bottom: 1px;
  border-radius: 20px;
}

.containerSelector mat-card h2 {
  padding-top: 10px;
  padding-right: 30px;
}
