<div class="selectorUnidades">
  <div class="containerSelector">
    <mat-card>
      <h2>Unidad: </h2>
      <form class="formularioMensaje">
        <mat-form-field appearance="fill">
          <mat-label>Unidades</mat-label>
          <mat-select multiple>
            <mat-option>Unidad 1</mat-option>
            <mat-option>Unidad 2</mat-option>
            <mat-option>Unidad 3</mat-option>
            <mat-option>Unidad 4</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <div class="bodyUnidades">
    <mat-card>
      <div class="cardsDatosUnidades">
        <div class="card">
          <div>
            <div class="cardName">Mantenimiento</div>
            <div class="numbers">$450.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Extraordinarias</div>
            <div class="numbers">$0.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Areas Comunes</div>
            <div class="numbers">$0.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Adeudo Total</div>
            <div class="numbers">$450.00</div>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="datosArrendador">
      <mat-card>
        <h2>Arrendador</h2>
        <div class="card">
          <div class="name"><b>Nombre:</b> Alex Francisco Carrera </div>
          <div class="phone"><b>Telefono:</b> 3330234</div>
          <div class="email"><b>Email:</b> alex.carrera@epn.edu.ec</div>
          <div class="cellphone"><b>Celular:</b> 0979106802</div>
          <div class="notes"><b>Notas:</b> Lorem Ipsum is simply dummy text of
            the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled
            it to make a type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop
          </div>
        </div>
      </mat-card>
    </div>
    <div class="datosArrendatario">
      <mat-card>
        <h2>Arrendatario</h2>
        <div class="card">
          <div class="name"><b>Nombre:</b> Alex Francisco Carrera </div>
          <div class="phone"><b>Telefono:</b> 3330234</div>
          <div class="email"><b>Email:</b> alex.carrera@epn.edu.ec</div>
          <div class="cellphone"><b>Celular:</b> 0979106802</div>
          <div class="notes"><b>Notas:</b> Lorem Ipsum is simply dummy text of
            the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled
            it to make a type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
