.selectorUnidades {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  top: 150px;
  min-height: 74vh;
}

.containerInfo mat-card {
  display: grid;
  width: 98%;
  left: 1%;
  border-radius: 20px;
  padding-bottom: 25px;
  overflow: auto;
  min-height: 310px;
  max-height: 74vh;
}

.containerInfo mat-card h2 {
  background-color: #287bff;
  max-height: 35px;
  color: #fff;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

.containerInfo mat-card h3 {
  background-color: #2ba846;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.containerInfo mat-card h4 {
  background-color: #2b99a8;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}


.cardsDatosUnidades {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
}

.cardsDatosUnidades .card {
  position: relative;
  align-items: center;
  padding: 1px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.cardsDatosUnidades .card:hover {
  background: #287bff;
}

.cardsDatosUnidades .card .numbers {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  font-size: 1.5em;
  color: #298135;
}

.cardsDatosUnidades .card .cardName {
  font-size: 1.5em;
  text-align: center;
}


.cardsDatosUnidades .card:hover .numbers,
.cardsDatosUnidades .card:hover .cardName {
  color: #fff;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card .name {
  padding-bottom: 10px;
}

.card .email {
  padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {

  .selectorUnidades {
    width: calc(100% - 15px);
    left: 15px;
    max-height: 750px;
  }

  .containerInfo mat-card {
    width: 85%;
    left: 10%;
    max-height: 750px;
  }

  .cardsDatosUnidades {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1vh;
  }

}
