<div class="selectorUnidades">
  <div class="containerInfo">
    <mat-card *ngFor="let data of unidades">
      <h2>Unidades</h2>
      <h3>Unidad Numero: {{data.numeroUnidad}}</h3>
      <div class="cardsDatosUnidades">
        <div class="card">
          <div>
            <div class="cardName">Mantenimiento</div>
            <div class="numbers">$450.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Areas Comunes</div>
            <div class="numbers">$0.00</div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="cardName">Adeudo Total</div>
            <div class="numbers">$450.00</div>
          </div>
        </div>
      </div>

      <h4>Propietario</h4>
      <div class="card">
        <div class="name"><b>Nombre:</b> {{data.nombrePropietario}}</div>
        <div class="email"><b>Email:</b> {{data.emailPropietario}}</div>
        <div class="cellphone"><b>Celular:</b> {{data.telefonoPropietario}}</div>
      </div>

      <h4>Residente</h4>
      <div class="card">
          <div class="name"><b>Nombre:</b> {{data.nombreResidente}}</div>
          <div class="email"><b>Email:</b> {{data.emailResidente}}</div>
          <div class="cellphone"><b>Celular:</b> {{data.telefonoResidente}}</div>
      </div>

      <div class="centrarBotones">
        <button class="btn btn-primary" (click)="onBacktoList()">Volver</button>
      </div>
    </mat-card>
  </div>
</div>

