<div class="ajustesAreasComunales">
  <div class="containerInfo">
    <mat-card>
      <h2>Areas Comunales</h2>
      <h3>Seleccione el area Común</h3>
      <div class="headerAreaComunal">
        <div class="card" *ngFor="let area of areasComunes" (click)="onGoReservas(area)">
          <div>
            <div class="cardName">{{area.nombre}}</div>
          </div>
          <div class="iconBx">
            <img src="../../../../assets/logoAreasComunales.png" alt="areaComunalImage" (click)="onGoReservas(area)">
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
