<div class="balance">

  <div class="containerInfo">
    <mat-card>
      <h2>Balance</h2>
      <h3>Datos Balance</h3>
      <div class="centrar">
        <div class="cardsDatosEgresos">
          <div class="card">
            <div>
              <div class="cardName">Total Ingresos</div>
              <div class="numbers">$ {{total}}</div>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="cardName">Total Egresos</div>
              <div class="numbers">$ {{sumaEgresos}}</div>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="cardName">Total</div>
              <div class="numbers">$ {{total-sumaEgresos}}</div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h3>Ingresos</h3>
      <div class="control-section">
        <ejs-grid #grid id='Grid' [dataSource]="ingresos" [allowSorting]="true" [allowPaging]="true" gridLines="Both">
          <e-columns>
            <e-column field='fechaReciboPago' headerText='Fecha de Pago' width=100></e-column>
            <e-column field='numeroReciboPago' headerText='Número Recibo de Egreso' width=100></e-column>
            <e-column field='tipoCuenta' headerText='Tipo de Cuenta' width=100></e-column>
            <e-column field='tiposPago' headerText='Tipo de Pago' width=100></e-column>
            <e-column field='observaciones' headerText='Detalle de Pago' width=100></e-column>
            <e-column field='valorTotal' headerText='Valor Total' width=80 format="C2"></e-column>
          </e-columns>
          <e-aggregates>
            <e-aggregate>
              <e-columns>
                <e-column type="Sum" field="valorTotal" format="C2">
                  <ng-template let-ingresos>{{ingresos.sum}}</ng-template>
                </e-column>
              </e-columns>
            </e-aggregate>
          </e-aggregates>
        </ejs-grid>
        <ejs-grid #grid id='Grid2' [dataSource]="pagosExtraordinarios" [allowPaging]="true" gridLines="Both">
          <e-columns>
            <e-column field='fechaReciboPagoExtraordinario' headerText='Fecha de Pago' width=100></e-column>
            <e-column field='numeroReciboPagoExtraordinario' headerText='Número Recibo de Pago' width=100></e-column>
            <e-column field='tipoCuenta' headerText='Tipo de Cuenta' width=100></e-column>
            <e-column field='tiposPago' headerText='Tipo de Pago' width=100></e-column>
            <e-column field='observacionesPagoExtraordinario' headerText='Detalle de Pago' width=100></e-column>
            <e-column field='valorPagoExtraordinario' headerText='Valor Total' width=80 format="C2"></e-column>
          </e-columns>
          <e-aggregates>
            <e-aggregate>
              <e-columns>
                <e-column type="Sum" field="valorPagoExtraordinario" format="C2">
                  <ng-template let-ingresos>{{ingresos.sum}}</ng-template>
                </e-column>
              </e-columns>
            </e-aggregate>
          </e-aggregates>
        </ejs-grid>
        <h3>Egresos</h3>
        <ejs-grid #grid id='Grid3' [dataSource]="egresos" [allowPaging]="true" gridLines="Both">
          <e-columns>
            <e-column field='fechaEgreso' headerText='Fecha de Pago' width=100></e-column>
            <e-column field='numeroReciboEgreso' headerText='Número Recibo de Egreso' width=100></e-column>
            <e-column field='tipoCuenta' headerText='Tipo de Cuenta' width=100></e-column>
            <e-column field='tiposPago' headerText='Tipo de Pago' width=100></e-column>
            <e-column field='observacionesEgreso' headerText='Detalle de Pago' width=100></e-column>
            <e-column field='valorEgreso' headerText='Valor Total' width=80 format="C2"></e-column>
          </e-columns>
          <e-aggregates>
            <e-aggregate>
              <e-columns>
                <e-column type="Sum" field="valorEgreso" format="C2">
                  <ng-template let-egresos>{{egresos.sum}}</ng-template>
                </e-column>
              </e-columns>
            </e-aggregate>
          </e-aggregates>
        </ejs-grid>
      </div>
    </mat-card>
  </div>
</div>
