<div class="topbar" *ngFor="let condominio of condominios">

    <!--userImg-->
    <div class="user">
        <img src="{{condominio.imgCondominio}}" alt="userImage" (click)="onGoCondominio()">
    </div>
    <div id="bienvenido" class="item2" *ngFor="let admin of administrador">
        <a class="text-white"><strong>BIENVENIDO:</strong> {{admin.name}} {{admin.last_name}}</a>
    </div>

    <!--manualUsuario-->
    <div>
        <a href="https://docs.google.com/document/d/1dMP3TRb-KbZYB0dLfp9mb2ohJoAW-FzR/edit?usp=sharing&ouid=114925468030320431124&rtpof=true&sd=true" target="_blank" class="btn">Manual de Usuario</a>
    </div>


</div>
