<div class="nuevoAnuncio">
  <div class="containerAnuncio">
    <mat-card>
      <h2>Comunicados Individuales</h2>
      <h3>Crear Mensaje Individual</h3>
      <form [formGroup]="mensajesForm" (ngSubmit)="onCreateMensaje()">
        <div class="form-group">
          <label>Título</label>
          <input type="text" class="form-control" formControlName="tituloMensaje">
        </div>
        <div class="form-group">
          <label>Fecha</label>
          <input type="datetime-local" class="form-control" min="2022-01-01" max="2040-12-31"
                 formControlName="fechaMensaje">
        </div>
        <div class="form-group">
          <label>Descripcion</label><br>
          <textarea formControlName="descripcionMensaje" class="form-control" rows="3"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-success mr-2">Guardar</button>
          <button class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
