<div class="reportes">
  <app-topbar></app-topbar>

  <!--Header Reportes-->
  <div class="headerReportes">
    <mat-card>
      <nav id="menu">
        <li>
          <a [routerLink]="['/admin/reportes/balance']" [routerLinkActive]="['active']">Balance</a>
        </li>
        <li>
          <a [routerLink]="['/admin/reportes/ingresosReportes']" [routerLinkActive]="['active']">Ingresos</a>
        </li>
        <li>
          <a [routerLink]="['/admin/reportes/egresosReportes']" [routerLinkActive]="['active']">Egresos</a>
        </li>
        <li>
          <a [routerLink]="['/admin/reportes/cuentas']" [routerLinkActive]="['active']">Cuentas</a>
        </li>
        <li>
          <a [routerLink]="['/admin/reportes/tablaCobranzas']" [routerLinkActive]="['active']">Tabla Cobranzas</a>
        </li>
      </nav>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
