<div class="ingresoReportes">

  <div class="containerTitulo">
    <mat-card>
      <div class="cardsDatosEgresos">
        <div class="card">
          <div>
            <div class="cardName">Total Egresos</div>
            <div class="numbers">$2800.00</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="tablaEgresosReportes">
    <mat-card>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Cuenta</th>
            <th>Categoria</th>
            <th>Proveedor</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2021-09-06</td>
            <td>Pago Mensual Agua Potable</td>
            <td>Banco</td>
            <td>Agua Potable</td>
            <td>Empresa Electrica Quito</td>
            <td>$1700</td>
          </tr>
          <tr>
            <td>2021-09-06</td>
            <td>Pago Mensual Agua Potable</td>
            <td>Banco</td>
            <td>Agua Potable</td>
            <td>Empresa Electrica Quito</td>
            <td>$1700</td>
          </tr>
          <tr>
            <td>2021-09-06</td>
            <td>Pago Mensual Agua Potable</td>
            <td>Banco</td>
            <td>Agua Potable</td>
            <td>Empresa Electrica Quito</td>
            <td>$1700</td>
          </tr>
          <tr>
            <td>2021-09-06</td>
            <td>Pago Mensual Agua Potable</td>
            <td>Banco</td>
            <td>Agua Potable</td>
            <td>Empresa Electrica Quito</td>
            <td>$1700</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>$2800</td>
          </tr>
        </tfoot>
      </table>
    </mat-card>
  </div>

</div>
