.ingresoReportes {
    position: absolute;
    width: calc(100% - 231px);
    left: 231px;
    top: 150px;
    min-height: 82vh;
  }

.containerTitulo mat-card {
    display: flex;
    top: 15px;
    width: 99%;
    left: 8px;
    border-radius: 20px;
    padding-bottom: 25px;
    justify-content: center;
}

.cardsDatosEgresos{
    width: auto;
    padding: 5px;
  }
  
  .cardsDatosEgresos .card{
    position: relative;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  }
  
  .cardsDatosEgresos .card:hover{
    background: #287bff;
  }
  
  .cardsDatosEgresos .card .numbers{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: 2em;
    color: #287bff;
  }
  
  .cardsDatosEgresos .card .cardName{
    color: #999;
    font-size: 1.5em;
    text-align: center;
  }
  
  
  .cardsDatosEgresos .card:hover .numbers,
  .cardsDatosEgresos .card:hover .cardName{
    color: #fff;
  }

  
.tablaEgresosReportes mat-card {
    top: 15px;
    margin-top: 15px;
    width: 99%;
    left: 8px;
    border-radius: 20px;
    padding: 20px 20px;
}