#register {
  padding-top: 2vh;
  text-align: center;
  min-height: calc(100vh - 130px);
  overflow: auto;
}

#register span {
  display: flex;
  text-align: left;
  padding-bottom: 5px;
}

#register .col-md-12 {
  padding-right: 150px;
  padding-left: 150px;
}

#register .form.floating {
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  #register {
    height: calc(100vh - 220px);
  }
}
