<app-header></app-header>

<div class="clearfix"></div>

<div id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form [formGroup]='registerForm' (ngSubmit)="onRegister()">
                <h1 class="h3 mb-3 font-weight-normal"><b>Registrarse</b>
                  <div *ngIf="loading" class="spinner-border float-right" role="status">
                    <span class="sr-only">Procesando...</span>
                  </div>
                </h1>
                <!--Campo Nombres-->
                <span>Nombres:</span>
                <div class="form-group">
                  <input type="text" name="name" class="form-control" formControlName="name" [(ngModel)]="datos.name"
                    [ngClass]="{ 'is-invalid': !registerForm.controls['name'].valid  && registerForm.controls['name'].touched }">
                  <div *ngIf=" registerForm.controls['name'].touched  && !registerForm.controls['name'].valid"
                    class="invalid-feedback">
                    Campo requerido
                  </div>
                </div>
                <!--Campo Apellidos-->
                <span>Apellidos:</span>
                <div class="form-group">
                  <input type="text" name="lastname" class="form-control" formControlName="last_name"
                    [(ngModel)]="datos.last_name"
                    [ngClass]="{ 'is-invalid': !registerForm.controls['last_name'].valid  && registerForm.controls['last_name'].touched }">
                  <div *ngIf=" registerForm.controls['last_name'].touched  && !registerForm.controls['last_name'].valid"
                    class="invalid-feedback">
                    Campo requerido
                  </div>
                </div>
                <!--Campo Email-->
                <span>Correo Electrónico:</span>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" formControlName="email"
                    [(ngModel)]="datos.email"
                    [ngClass]="{ 'is-invalid': form['email'].errors && form['email'].touched}">
                  <div *ngIf="form['email'].errors" class="invalid-feedback">
                    <div *ngIf="form['email'].errors['required']">
                      Campo requerido
                    </div>
                    <div *ngIf="form['email'].errors['pattern']">
                      Por favor ingrese un email válido
                    </div>
                  </div>
                </div>
                <!--Campo contraseña-->
                <span>Contraseña:</span>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" [type]="hide ? 'password' : 'text'" name="password" class="form-control"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': form['password'].errors && form['password'].touched }" />
                    <span class="input-group-text">
                      <mat-icon class="placeholder" (click)="showPassword()">{{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </span>
                    <div *ngIf="form['password'].errors" class="invalid-feedback">
                      <div *ngIf="form['password'].errors['required']">
                        Campo requerido
                      </div>
                      <div *ngIf="form['password'].errors['minlength']">
                        La contraseña no puede tener menos de 6 caracteres.
                      </div>
                      <div *ngIf="form['password'].errors['maxlength']">
                        La contraseña no puede exceder de los 15 caracteres.
                      </div>
                      <div *ngIf="form['password'].errors['pattern']">
                        Debe tener al menos una mayúscula y un dígito.
                      </div>
                    </div>
                  </div>
                </div>
                <!--Campo confirmPassword-->
                <span>Confirmar Contraseña:</span>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" [type]="hide ? 'password' : 'text'" name="passwordConfirm"
                      class="form-control" formControlName="confirmPassword"
                      [ngClass]="{ 'is-invalid': form['confirmPassword'].errors && form['confirmPassword'].touched }">
                    <span class="input-group-text">
                      <mat-icon class="placeholder" (click)="showPassword()">{{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </span>
                    <div *ngIf="form['confirmPassword'].errors" class="invalid-feedback">
                      <div *ngIf="form['confirmPassword'].errors['required']">
                        Campo requerido
                      </div>
                      <div *ngIf="form['confirmPassword'].errors['matching']">
                        Las contraseñas no coinciden
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block"
                  [disabled]="registerForm.invalid">Registrar</button>
                <div class="form-group">
                  <a routerLink="../loginAdmin" class="form-control login-user">Tienes una cuenta?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<app-footer></app-footer>