<div class="inicio">
  <app-topbarUser></app-topbarUser>

  <div class="headerHomeUsuario">
    <div class="card" [routerLink]="['/admin/administracion']" [routerLinkActive]="['active']">
      <div>
        <div class="cardName">Fecha Próximo Pago</div>
        <div class="numbers"> 04/05/2022</div>
      </div>
      <div class="iconBx">
        <mat-icon>credit_card</mat-icon>
      </div>
    </div>
    <div class="card" [routerLink]="['/admin/comunicacion']" [routerLinkActive]="['active']">
      <div>
        <div class="cardName">Valor a Pagar</div>
        <div class="numbers"> $450.00</div>
      </div>
      <div class="iconBx">
        <mat-icon>attach_money</mat-icon>
      </div>
    </div>
    <div class="card" [routerLink]="['/admin/administracion']" [routerLinkActive]="['active']">
      <div>
        <div class="cardName">Reservas Pendientes</div>
        <div class="numbers"> 2</div>
      </div>
      <div class="iconBx">
        <mat-icon>people</mat-icon>
      </div>
    </div>
  </div>

  <div class="containerMensajes">
    <div class="containerGeneral">
      <mat-card>
        <div class="containerInfo">
        <h2>Areas Comunales</h2>
        <h3>Datos del Area Comunal</h3>
        <mat-card>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate,
            congue semper sollicitudin eleifend venenatis ut hendrerit fames vivamus,
            ullamcorper sagittis at dictum pellentesque quis feugiat.
            odales habitasse fames orci mauris interdum mollis cras,
            montes dis neque ornare magnis feugiat, curae cubilia cum pharetra pellentesque nisl.
            Elementum nisl vel aptent lacus varius lectus enenatis taciti duis,
            quis rhoncus orci penatibus tempus sociosqu porta magna,
            arcu lacinia curae erat a facilisi laoreet etiam. Sociis per lectus posuere potenti dictumst quam,
            maecenas eget obortis ociosqu auctor fusce viverra, tortor tincidunt in curae arcu.
          </p>
        </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
