<div class="inicio">
  <app-topbarUser></app-topbarUser>

  <div class="headerHomeUsuario">
    <div class="card" [routerLink]="['/admin/administracion']" [routerLinkActive]="['active']">
      <div>
        <div class="cardName">Fecha Próximo Pago</div>
        <div class="numbers"> 04/05/2022</div>
      </div>
      <div class="iconBx">
        <mat-icon>credit_card</mat-icon>
      </div>
    </div>
    <div class="card" [routerLink]="['/admin/comunicacion']" [routerLinkActive]="['active']">
      <div>
        <div class="cardName">Valor a Pagar</div>
        <div class="numbers"> $450.00</div>
      </div>
      <div class="iconBx">
        <mat-icon>attach_money</mat-icon>
      </div>
    </div>
    <div class="card" [routerLink]="['/admin/administracion']" [routerLinkActive]="['active']">
      <div>
        <div class="cardName">Reservas Pendientes</div>
        <div class="numbers"> 2</div>
      </div>
      <div class="iconBx">
        <mat-icon>people</mat-icon>
      </div>
    </div>
  </div>

  <div class="anuncioGeneral">
    <div class="containerGeneral">
      <mat-card>
        <div class="containerMensajes">
          <h2>Anuncios Generales</h2>
          <h3>Datos de los Anuncios Generales</h3>
          <h5 style="margin-top: 30px;" *ngIf='anunciosGenerales.length == 0'>No hay anuncios para mostrar</h5>
          <div layout="row">
            <mat-card *ngFor="let anuncio of anunciosGenerales" class="mb-2">
              <mat-card-title><b>Asunto: </b> {{anuncio.tituloAnuncio}}</mat-card-title>
              <div class="clearfix"></div>
              <mat-card-subtitle><b>Fecha: </b> {{anuncio.fechaAnuncio}}</mat-card-subtitle>
              <mat-card-subtitle><b>Escrito por: </b> Administrador</mat-card-subtitle>
              <mat-card-content>
                <p>{{anuncio.descripcionAnuncio}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
