.inicio {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.headerHomeUsuario {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.headerHomeUsuario .card {
  position: relative;
  align-items: center;
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.headerHomeUsuario .card:hover {
  background: #2b85a8;
}

.headerHomeUsuario .card .numbers {
  text-align: center;
  margin-top: 20px;
  position: relative;
  font-weight: 600;
  font-size: 2em;
  color: #2b85a8;
}

.headerHomeUsuario .card .cardName {
  color: #999;
  font-size: 1.8em;
  padding-top: 10px;
  text-align: center;
}

.headerHomeUsuario .card .iconBx {
  color: #999;
  width: 15%;
}

.headerHomeUsuario .card .iconBx mat-icon {
  font-size: 3em;
  padding-top: 15px;
  align-items: flex-start;
}


.headerHomeUsuario .card:hover .numbers,
.headerHomeUsuario .card:hover .cardName,
.headerHomeUsuario .card:hover .iconBx {
  color: #fff;
}

.containerMensajes {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  top: 150px;
}

.containerGeneral mat-card {
  display: grid;
  width: 70%;
  left: 15%;
  top: 5vh;
  border-radius: 20px;
  padding-bottom: 25px;
  overflow: auto;
  max-height: 800px;
}

.containerGeneral mat-card h2 {
  background-color: #287bff;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.containerGeneral mat-card h3 {
  background-color: #2ba846;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.containerMensajes mat-card {
  display: grid;
  width: 98%;
  left: 1%;
  top: 1vh;
  border-radius: 20px;
  padding-bottom: 25px;
  background-color: #eeebeb;
}



