.inicio {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  min-height: 100vh;
  transition: 0.5s;
  background: rgb(40, 133, 255);
  background: linear-gradient(90deg, rgba(40, 133, 255, 0.8477766106442577) 0%, rgba(40, 82, 255, 0.8477766106442577) 50%, rgba(22, 6, 128, 1) 100%);
}

.headerHomeUsuario {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.headerHomeUsuario .card {
  position: relative;
  align-items: center;
  padding: 10px;
  width: 85%;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.headerHomeUsuario .card:hover {
  background: #287bff;
}

.headerHomeUsuario .card .numbers {
  text-align: center;
  padding-top: 10px;
  position: relative;
  font-weight: 600;
  font-size: 2.5em;
  color: #287bff;
}

.headerHomeUsuario .card .cardName {
  color: #999;
  font-size: 1.1em;
  margin-top: 10px;
  text-align: center;
}

.headerHomeUsuario .card .iconBx {
  color: #999;
  width: 15%;
}

.headerHomeUsuario .card .iconBx mat-icon {
  font-size: 3em;
  padding-top: 15px;
  align-items: flex-start;
}


.headerHomeUsuario .card:hover .numbers,
.headerHomeUsuario .card:hover .cardName,
.headerHomeUsuario .card:hover .iconBx {
  color: #fff;
}

.anuncioGeneral {
  position: absolute;
  width: calc(100% - 10px);
  left: 10px;
  min-height: 60vh;
}

.containerGeneral mat-card {
  display: grid;
  width: 98%;
  left: 1%;
  border-radius: 20px;
  padding-bottom: 25px;
  overflow: auto;
  min-height: 310px;
  max-height: 74vh;
}

.containerGeneral mat-card h2 {
  background-color: #287bff;
  max-height: 35px;
  color: #fff;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

.containerGeneral mat-card h3 {
  background-color: #2ba846;
  max-height: 35px;
  color: #fff;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

.containerMensajes mat-card {
  display: grid;
  width: 98%;
  left: 1%;
  top: 1vh;
  border-radius: 20px;
  background-color: #ebebee;
}

a.active{
  color: black !important;
}

@media only screen and (max-width: 900px) {

  .anuncioGeneral {
    width: calc(100% - 15px);
    left: 15px;
    max-height: 750px;
  }

  .containerGeneral mat-card {
    width: 85%;
    left: 10%;
  }

}



