<app-headerInside></app-headerInside>

<div class="Condominios">
  <div class="containerInfo">
    <mat-card>
      <h2>Crear un nuevo Condominio</h2>
      <form [formGroup]='condominioForm' (ngSubmit)="onCreate()">
        <span>Nombre del Condominio:</span>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="nombreCondominio"
            [ngClass]="{ 'is-invalid': form['nombreCondominio'].errors && form['nombreCondominio'].touched}">
          <div *ngIf="form['nombreCondominio'].errors" class="invalid-feedback">
            <div *ngIf="form['nombreCondominio'].errors['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <span>Ciudad del Condominio:</span>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="ciudadCondominio"
            [ngClass]="{ 'is-invalid': form['ciudadCondominio'].errors && form['ciudadCondominio'].touched}">
          <div *ngIf="form['ciudadCondominio'].errors" class="invalid-feedback">
            <div *ngIf="form['ciudadCondominio'].errors['required']">
              Campo requerido
            </div>
          </div>
        </div>
        <span>Descripción del Condominio:</span>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="descripcionCondominio">
        </div>
        <span>Imgen del Condominio:</span>
        <br><br>
        <input type="file" class="file-upload" accept=".png, .jpg, .jpeg" (change)="cargarImagen($event)">
        <br>
        <div class="form-group">
          <img src="{{currentImage}}">
        </div>
        <div class="centrarBotones">
          <button type="submit" class="btn btn-success btn-lg mr-4" [disabled]="condominioForm.invalid">Guardar</button>
          <button type="button" class="btn btn-primary btn-lg ml-4" (click)="onGoBackToList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
