.ajustes {
  position: absolute;
  width: calc(100% - 231px);
  left: 231px;
  min-height: 100vh;
  transition: 0.5s;
  background: rgb(40,133,255);
  background: linear-gradient(90deg, rgba(40,133,255,0.8477766106442577) 0%, rgba(40,82,255,0.8477766106442577) 50%, rgba(22,6,128,1) 100%);
  }

  .ajustesUsuario {
    position: absolute;
    width: calc(100% - 10vh);
    left: 5vh;
    top: 10vh;
  }

  .containerInfo mat-card {
    display: grid;
    width: 98%;
    left: 1%;
    top: 5px;
    border-radius: 20px;
    padding-bottom: 25px;
    overflow: auto;
    min-height: 310px;
    max-height: 90vh;
  }

  .containerInfo mat-card h2 {
    background-color: #287bff;
    max-height: 35px;
    color: #fff;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
  }

  .containerInfo mat-card h3 {
    background-color: #2ba846;
    max-height: 35px;
    color: #fff;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
  }

  .containerInfo mat-card h4 {
    background-color: #e02727;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }

  .containerInfo .card {
    display: grid;
    padding: 20px;
    bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .cambiarContrasena {
    margin-top: 10px;
    margin-bottom: 10px;
  }
