<div class="areasComunes">
  <app-topbarUser></app-topbarUser>

  <div class="headerAreasComunes">
    <mat-card>
      <nav id="menu">
        <ul>
          <li>
            <a [routerLink]="['/user/areasComunes/listarAreas']" [routerLinkActive]="['active']">Areas Comunales</a>
          </li>
          <li>
            <a [routerLink]="['/user/areasComunes/misReservas']" [routerLinkActive]="['active']">Reservas Pendientes</a>
          </li>
          <li>
            <a [routerLink]="['/user/areasComunes/listaReservas']" [routerLinkActive]="['active']">Todas las Reservas</a>
          </li>
        </ul>
      </nav>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>