<div class="ajustesCondominioEdit">
  <div class="containerInfo">
    <mat-card>
      <h2>Condominio</h2>
      <h3>Editar Datos del Condominio
        <div *ngIf="loading" class="spinner-border float-right" role="status">
          <span class="sr-only">Procesando...</span>
        </div>
      </h3>
      <form [formGroup]='condominioForm' (ngSubmit)="onSaveCondominio()">
        <div class="form-group">
          <label>Nombre del Condominio</label>
          <input type="text" class="form-control" formControlName="nombreCondominio"
            [ngClass]="{ 'is-invalid': !condominioForm.controls['nombreCondominio'].valid  && condominioForm.controls['nombreCondominio'].touched }">
          <div
            *ngIf=" condominioForm.controls['nombreCondominio'].touched  && !condominioForm.controls['nombreCondominio'].valid"
            class="invalid-feedback">
            Campo requerido
          </div>
        </div>
        <div class="form-group">
          <label>Ciudad</label>
          <input type="text" class="form-control" formControlName="ciudadCondominio"
            [ngClass]="{ 'is-invalid': !condominioForm.controls['ciudadCondominio'].valid  && condominioForm.controls['ciudadCondominio'].touched }">
          <div
            *ngIf=" condominioForm.controls['ciudadCondominio'].touched  && !condominioForm.controls['ciudadCondominio'].valid"
            class="invalid-feedback">
            Campo requerido
          </div>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <input type="text" class="form-control" formControlName="descripcionCondominio">
        </div>

        <div class="form-group">
          <span>Seleccionar imagen:</span>
          <br><br>
          <input type="file" class="file-upload" accept=".png, .jpg, .jpeg" (change)="cargarImagen($event)">
          <br>
          <img src="{{currentImage}}"/>
          <input hidden type="text" class="form-control" formControlName="imgCondominio">
        </div>

        <div class="centrarBotones">
          <button type="submit" class="btn btn-success mr-2" [disabled]="condominioForm.invalid">Guardar</button>
          <button class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>