<div class="ajustesCondominioEdit">
  <div class="containerInfo">
    <mat-card>
      <h2>Condominio</h2>
      <h3>Editar Datos del Condominio</h3>
      <form [formGroup]='condominioForm' (ngSubmit)="onSaveCondominio()" *ngFor="let condominio of impCondominio">
        <div class="form-group">
          <label>Nombre del Condominio</label>
          <input type="text" class="form-control" formControlName="nombreCondominio"
                 [(ngModel)]="condominio.nombreCondominio">
        </div>
        <div class="form-group">
          <label>Ciudad</label>
          <input type="text" class="form-control" formControlName="ciudadCondominio"
                 [(ngModel)]="condominio.ciudadCondominio">
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <input type="text" class="form-control" formControlName="descripcionCondominio"
                 [(ngModel)]="condominio.descripcionCondominio">
        </div>
        <div class="centrarBotones">
          <button type="submit" class="btn btn-success mr-2">Guardar</button>
          <button type="button" class="btn btn-primary ml-2" (click)="onBacktoList()">Volver</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
