<div class="ajustesAreasComunales">
    <div class="containerInfo">
        <mat-card>
            <h2>Lista de Areas Comunales</h2>
            <div class="headerReseMenUni">
                <div class="card">
                    <div>
                        <div class="cardName">Nombre del Area Comunal</div>
                    </div>
                    <div class="iconBx">
                        <mat-icon>home</mat-icon>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>