.listar{
    position: absolute;
    width: calc(100% - 231px);
    left: 231px;
    padding-top: 30vh;
    min-height: 100vh;
    background: rgba(0,0,0,0.08);
    transition: 0.5s;
}

.listar h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.container{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    justify-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.container .card{
    position: relative;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 20px;
    display: flex;
    background: rgba(0,0,0,0.08);
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.container .card:hover{
    background: #287bff;
}

.container .card .numbers{
    text-align: center;
    padding-top: 10px;
    position: relative;
    font-weight: 500;
    font-size: 1.8em;
    color: #287bff;
}

.container .card .iconBx{   
    color: #999;
    width: 35%;
}

.container .card .iconBx mat-icon{
    font-size: 5em;
    padding-top: 15px;
    align-items: flex-start;
}

.container .card:hover .numbers,
.container .card:hover .iconBx{
    color: #fff;
}
